{{#stepper}}
<div class="stepper">
    <div class="controls">
        {{#uiControls}} {{> pearson-icon }} {{/uiControls}}
    </div>
    <div class="enterNumber">
        {{> pearson-number }}
    </div>
    <div class="of-total">
        <span class="slash">/</span>
        <span class="number">{{number}}</span>
    </div>
</div>
{{/stepper}}
