{{#zoom}}
<div class="zoom">
    <div class="controls">
        {{#uiControls}} {{> pearson-icon }} {{/uiControls}}
    </div>
    <div class="enterNumber">
        {{> pearson-number }}
    </div>
</div>
{{/zoom}}
