{{>ui-kit-basic-modal}}
{{> organisms-chat-modal }}
<section class="revel">
	<div style="max-width:1440px; margin:0 auto;">
		{{> ui-kit-header }}
	</div>
	<section class="chapter">
		{{#pageOne}}
			{{> epubs-ch08_pg0001 }}
		{{/pageOne}}

		{{#pageTwo}}
			{{> epubs-ch08_pg0002 }}
		{{/pageTwo}}

		{{#pageThree}}
			{{> epubs-ch08_pg0003 }}
		{{/pageThree}}

		{{#pageFour}}
			{{> epubs-ch08_pg0004 }}
		{{/pageFour}}

		{{#pageFive}}
			{{> epubs-ch08_pg0005 }}
		{{/pageFive}}

		{{#pageSix}}
			{{> epubs-ch08_pg0006 }}
		{{/pageSix}}

		{{#pageSeven}}
			{{> epubs-ch08_pg0007 }}
		{{/pageSeven}}

		{{#pageEight}}
			{{> epubs-ch08_pg0008 }}
		{{/pageEight}}

		{{#pageNine}}
			{{> epubs-ch08_pg0009 }}
		{{/pageNine}}

		{{#pageTen}}
			{{> epubs-ch08_pg0010 }}
		{{/pageTen}}

		{{#pageEleven}}
			{{> epubs-ch08_pg0011 }}
		{{/pageEleven}}

		{{#pageTwelve}}
			{{> epubs-ch08_pg0012 }}
		{{/pageTwelve}}

		{{#entryPoint}}
			{{> organisms-entry-point }}
		{{/entryPoint}}
	</section>
</section>