{{#basicInput}}
<div class="basic-input flex">
  <input type="text" class="pe-textInput--basic" id="{{id}}" aria-label="{{ariaLabel}}" placeholder="{{placeholder}}">{{> pearson-single-icon }}
</div>
{{/basicInput}}