@font-face {
  font-family: "Palatino ET W02";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/palatinoetw02roman.eot?") format("eot"),
    url("../fonts/palatinoetw02roman.woff") format("woff"),
    url("../fonts/palatinoetw02roman.ttf") format("truetype");
}

@font-face {
  font-family: "Palatino ET W02";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/palatinoetw02bold.eot?") format("eot"),
    url("../fonts/palatinoetw02bold.woff") format("woff"),
    url("../fonts/palatinoetw02bold.ttf") format("truetype");
}

@font-face {
  font-family: "Palatino ET W02";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/palatinoetw02-bolditali.eot?") format("eot"),
    url("../fonts/palatinoetw02-bolditali.woff") format("woff"),
    url("../fonts/palatinoetw02-bolditali.ttf") format("truetype");
}

@font-face {
  font-family: "Palatino ET W02";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/palatinoetw02italic.eot?") format("eot"),
    url("../fonts/palatinoetw02italic.woff") format("woff"),
    url("../fonts/palatinoetw02italic.ttf") format("truetype");
}

@font-face {
  font-family: "PMNCaeciliaETW02-Bold";
  src: url("../fonts/pmncaeciliaetw02-bold.eot?") format("eot"),
    url("../fonts/pmncaeciliaetw02-bold.woff") format("woff"),
    url("../fonts/pmncaeciliaetw02-bold.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueETW02";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/helveticaneueetw02-45lt.eot?") format("eot"),
    url("../fonts/helveticaneueetw02-45lt.woff") format("woff"),
    url("../fonts/helveticaneueetw02-45lt.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueETW02";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/helveticaneueetw02-46lt.eot?") format("eot"),
    url("../fonts/helveticaneueetw02-46lt.woff") format("woff"),
    url("../fonts/helveticaneueetw02-46lt.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueETW02";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/helveticaneueetw02-55rg.eot?") format("eot"),
    url("../fonts/helveticaneueetw02-55rg.woff") format("woff"),
    url("../fonts/helveticaneueetw02-55rg.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueETW02";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/helveticaneueetw02-56it.eot?") format("eot"),
    url("../fonts/helveticaneueetw02-56it.woff") format("woff"),
    url("../fonts/helveticaneueetw02-56it.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueETW02";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/helveticaneueetw02-75bd.eot?") format("eot"),
    url("../fonts/helveticaneueetw02-75bd.woff") format("woff"),
    url("../fonts/helveticaneueetw02-75bd.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueETW02";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/helveticaneueetw02-76bd.eot?") format("eot"),
    url("../fonts/helveticaneueetw02-76bd.woff") format("woff"),
    url("../fonts/helveticaneueetw02-76bd.ttf") format("truetype");
}
