<button class="pe-btn__cta--btn_small" disabled>CTA</button>
<button class="pe-btn__tertiary--btn_small" disabled>Tertiary</button>
<button class="pe-btn__primary" disabled>Primary</button>
<button class="pe-btn--btn_xlarge" disabled>Default</button>
