.pe-btn, .pe-btn--btn_large, .pe-btn--btn_small, .pe-btn--btn_xlarge, .pe-btn__primary, .pe-btn__primary--btn_large, .pe-btn__primary--btn_small, .pe-btn__primary--btn_xlarge, .pe-btn__cta, .pe-btn__cta--btn_large, .pe-btn__cta--btn_small, .pe-btn__cta--btn_xlarge, .pe-btn__tertiary, .pe-btn__tertiary--btn_large, .pe-btn__tertiary--btn_small, .pe-btn__tertiary--btn_xlarge {
  box-sizing: border-box;
  // border: none;
  border: 1px solid transparent; //Anne added to remove wiggle
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  height: 36px;
  padding: 0 20px;
  border-radius: 36px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.pe-btn--btn_small, .pe-btn__primary--btn_small, .pe-btn__cta--btn_small, .pe-btn__tertiary--btn_small {
  height: 32px;
  border-radius: 32px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 18px;
}

.pe-btn--btn_xlarge, .pe-btn__primary--btn_xlarge, .pe-btn__cta--btn_xlarge, .pe-btn__tertiary--btn_xlarge {
  height: 40px;
  border-radius: 40px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 20px;
}

.pe-icon--btn {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.pe-link, .pe-link--btn {
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pe-link {
  color: #047A9C;
  padding: 0;
}

.pe-link:hover, .pe-link:focus {
  color: #005A70;
  text-decoration: none;
}

.pe-link--btn {
  color: #047A9C;
  padding: 4px;
}

.pe-link--btn:hover, .pe-link--btn:focus {
  text-decoration: none;
}

.pe-link--btn:disabled {
  color: #6A7070;
  text-decoration: none;
}

.pe-btn, .pe-btn--btn_large {
  color: #505759;
  background-color: transparent;
  border: 1px solid #C7C7C7;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pe-btn:hover, .pe-btn:active, .pe-btn:focus, .pe-btn--btn_large:hover, .pe-btn--btn_large:active, .pe-btn--btn_large:focus {
  color: #505759;
  background-color: transparent;
  border: 1px solid #505759;
}

.pe-btn:disabled, .pe-btn.pe-btn--disabled, .pe-btn.pe-btn--disabled:hover, .pe-btn--btn_large:disabled, .pe-btn--btn_large.pe-btn--disabled, .pe-btn--btn_large.pe-btn--disabled:hover {
  cursor: default;
  border: 0;
  color: #C7C7C7;
  background-color: #E9E9E9;
  box-shadow: none;
  text-decoration: none;
}

.pe-btngroup button:first-child {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.pe-btngroup button:last-child {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.pe-btngroup button:not(:first-child):not(:last-child) {
  border-radius: 0px !important;
}

.pe-btn--btn_small {
  color: #505759;
  background-color: transparent;
  border: 1px solid #C7C7C7;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pe-btn--btn_small:hover, .pe-btn--btn_small:active, .pe-btn--btn_small:focus {
  color: #505759;
  background-color: transparent;
  border: 1px solid #505759;
}

.pe-btn--btn_small:disabled, .pe-btn--btn_small.pe-btn--disabled, .pe-btn--btn_small.pe-btn--disabled:hover {
  cursor: default;
  border: 0;
  color: #C7C7C7;
  background-color: #E9E9E9;
  box-shadow: none;
  text-decoration: none;
}

.pe-btn--btn_xlarge {
  color: #505759;
  background-color: transparent;
  border: 1px solid #C7C7C7;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pe-btn--btn_xlarge:hover, .pe-btn--btn_xlarge:active, .pe-btn--btn_xlarge:focus {
  color: #505759;
  background-color: transparent;
  border: 1px solid #505759;
}

.pe-btn--btn_xlarge:disabled, .pe-btn--btn_xlarge.pe-btn--disabled, .pe-btn--btn_xlarge.pe-btn--disabled:hover {
  cursor: default;
  border: 0;
  color: #C7C7C7;
  background-color: #E9E9E9;
  box-shadow: none;
  text-decoration: none;
}

.pe-btn__primary, .pe-btn__primary--btn_large {
  color: #FFFFFF;
  background-color: #047A9C;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pe-btn__primary:hover, .pe-btn__primary:active, .pe-btn__primary:focus, .pe-btn__primary--btn_large:hover, .pe-btn__primary--btn_large:active, .pe-btn__primary--btn_large:focus {
  color: #FFFFFF;
  background-color: #005A70;
}

.pe-btn__primary:disabled, .pe-btn__primary.pe-btn--disabled, .pe-btn__primary.pe-btn--disabled:hover, .pe-btn__primary--btn_large:disabled, .pe-btn__primary--btn_large.pe-btn--disabled, .pe-btn__primary--btn_large.pe-btn--disabled:hover {
  cursor: default;
  border: 0;
  color: #C7C7C7;
  background-color: #E9E9E9;
  box-shadow: none;
  text-decoration: none;
}

.pe-btn__primary--btn_small {
  color: #FFFFFF;
  background-color: #047A9C;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pe-btn__primary--btn_small:hover, .pe-btn__primary--btn_small:active, .pe-btn__primary--btn_small:focus {
  color: #FFFFFF;
  background-color: #005A70;
}

.pe-btn__primary--btn_small:disabled, .pe-btn__primary--btn_small.pe-btn--disabled, .pe-btn__primary--btn_small.pe-btn--disabled:hover {
  cursor: default;
  border: 0;
  color: #C7C7C7;
  background-color: #E9E9E9;
  box-shadow: none;
  text-decoration: none;
}

.pe-btn__primary--btn_xlarge {
  color: #FFFFFF;
  background-color: #047A9C;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pe-btn__primary--btn_xlarge:hover, .pe-btn__primary--btn_xlarge:active, .pe-btn__primary--btn_xlarge:focus {
  color: #FFFFFF;
  background-color: #005A70;
}

.pe-btn__primary--btn_xlarge:disabled, .pe-btn__primary--btn_xlarge.pe-btn--disabled, .pe-btn__primary--btn_xlarge.pe-btn--disabled:hover {
  cursor: default;
  border: 0;
  color: #C7C7C7;
  background-color: #E9E9E9;
  box-shadow: none;
  text-decoration: none;
}

.pe-btn__cta, .pe-btn__cta--btn_large {
  color: #252525;
  background-color: #FFB81C;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pe-btn__cta:hover, .pe-btn__cta:active, .pe-btn__cta:focus, .pe-btn__cta--btn_large:hover, .pe-btn__cta--btn_large:active, .pe-btn__cta--btn_large:focus {
  color: #252525;
  background-color: #FF9A19;
}

.pe-btn__cta:disabled, .pe-btn__cta.pe-btn--disabled, .pe-btn__cta.pe-btn--disabled:hover, .pe-btn__cta--btn_large:disabled, .pe-btn__cta--btn_large.pe-btn--disabled, .pe-btn__cta--btn_large.pe-btn--disabled:hover {
  cursor: default;
  border: 0;
  color: #C7C7C7;
  background-color: #E9E9E9;
  box-shadow: none;
  text-decoration: none;
}

.pe-btn__cta--btn_small {
  color: #252525;
  background-color: #FFB81C;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pe-btn__cta--btn_small:hover, .pe-btn__cta--btn_small:active, .pe-btn__cta--btn_small:focus {
  color: #252525;
  background-color: #FF9A19;
}

.pe-btn__cta--btn_small:disabled, .pe-btn__cta--btn_small.pe-btn--disabled, .pe-btn__cta--btn_small.pe-btn--disabled:hover {
  cursor: default;
  border: 0;
  color: #C7C7C7;
  background-color: #E9E9E9;
  box-shadow: none;
  text-decoration: none;
}

.pe-btn__cta--btn_xlarge {
  color: #252525;
  background-color: #FFB81C;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pe-btn__cta--btn_xlarge:hover, .pe-btn__cta--btn_xlarge:active, .pe-btn__cta--btn_xlarge:focus {
  color: #252525;
  background-color: #FF9A19;
}

.pe-btn__cta--btn_xlarge:disabled, .pe-btn__cta--btn_xlarge.pe-btn--disabled, .pe-btn__cta--btn_xlarge.pe-btn--disabled:hover {
  cursor: default;
  border: 0;
  color: #C7C7C7;
  background-color: #E9E9E9;
  box-shadow: none;
  text-decoration: none;
}

.pe-btn__tertiary, .pe-btn__tertiary--btn_large {
  color: #505759;
  background-color: #E9E9E9;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pe-btn__tertiary:hover, .pe-btn__tertiary:active, .pe-btn__tertiary:focus, .pe-btn__tertiary--btn_large:hover, .pe-btn__tertiary--btn_large:active, .pe-btn__tertiary--btn_large:focus {
  color: #505759;
  background-color: #ededed;
}

.pe-btn__tertiary:disabled, .pe-btn__tertiary.pe-btn--disabled, .pe-btn__tertiary.pe-btn--disabled:hover, .pe-btn__tertiary--btn_large:disabled, .pe-btn__tertiary--btn_large.pe-btn--disabled, .pe-btn__tertiary--btn_large.pe-btn--disabled:hover {
  cursor: default;
  border: 0;
  color: #C7C7C7;
  background-color: #E9E9E9;
  box-shadow: none;
  text-decoration: none;
}

.pe-btn__tertiary--btn_small {
  color: #505759;
  background-color: #E9E9E9;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pe-btn__tertiary--btn_small:hover, .pe-btn__tertiary--btn_small:active, .pe-btn__tertiary--btn_small:focus {
  color: #505759;
  background-color: #ededed;
}

.pe-btn__tertiary--btn_small:disabled, .pe-btn__tertiary--btn_small.pe-btn--disabled, .pe-btn__tertiary--btn_small.pe-btn--disabled:hover {
  cursor: default;
  border: 0;
  color: #C7C7C7;
  background-color: #E9E9E9;
  box-shadow: none;
  text-decoration: none;
}

.pe-btn__tertiary--btn_xlarge {
  color: #505759;
  background-color: #E9E9E9;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pe-btn__tertiary--btn_xlarge:hover, .pe-btn__tertiary--btn_xlarge:active, .pe-btn__tertiary--btn_xlarge:focus {
  color: #505759;
  background-color: #ededed;
}

.pe-btn__tertiary--btn_xlarge:disabled, .pe-btn__tertiary--btn_xlarge.pe-btn--disabled, .pe-btn__tertiary--btn_xlarge.pe-btn--disabled:hover {
  cursor: default;
  border: 0;
  color: #C7C7C7;
  background-color: #E9E9E9;
  box-shadow: none;
  text-decoration: none;
}

div [class$='--btn_xlarge'], a [class$='--btn_xlarge'] {
  line-height: 40px !important;
}

div [class$='--btn_large'], a [class$='--btn_large'] {
  line-height: 36px !important;
}

.pe-btn__primary, .pe-btn__cta, .pe-btn__tertiary, .pe-btn {
  line-height: 36px !important;
}

div [class$='--btn_small'], a [class$='--btn_small'] {
  line-height: 32px !important;
}
