{{#menu}}
<ul role="menu" class="menu pe-label hidden">
  {{#menuList}}
  <li role="menuitemcheckbox" aria-checked="false">
    <a href="{{link}}">
					{{> pearson-single-icon }}
					{{label}}
				</a>
  </li>
  {{#divider}}
  <li class="divider" role="separator"></li>
  {{/divider}} {{/menuList}}
</ul>
{{/menu}}