{{#loader}}
<div class="loader {{#light}}light{{/light}}{{#dark}}dark{{/dark}}">
    <div class="icon">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw secondary-four"></i>
        <span class="sr-only">{{label}}</span>
    </div>
    <div class="text">
        <span class="pe-label">{{label}}</span>
    </div>
</div>
{{/loader}}
