.loader {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 3px;

  .icon {
    margin-right: 12px;
  }

  &.light {
    border: 1px solid $neutral-four;
  }

  &.dark {
    background-color: $neutral-two;

    span {
      color: white;
    }
  }
}
