<section class="glp-wsl">
    <div class="glp gravity-grid">
      <div class="container student-view">
        <h1 class="pe-title preview-title">Introducing the Government in American Society</h1>
        <div class="ws-assignment-details">
              <p class="full pe-copy pe-copy--large"><span class="pe-label--bold font-size-16">Status:</span> <span class="pe-proto badge badge-open">Not open for submission</span> </p>
              <div class="flex-row">
                <p class="pe-copy pe-copy--large"><span class="pe-label--bold font-size-16">Start:</span> <span class="font-size-16">Monday, April 10 2019</span></p>
                <p class="pe-copy pe-copy--large"><span class="pe-label--bold line-item-02 font-size-16">Due:</span> <span class="font-size-16">Monday, April 17 2019</span></p>
              </div>
              <div class="flex-row">
                <p class="pe-copy pe-copy--large"><span class="pe-label--bold font-size-16">Length:</span> <span class="font-size-16">Minimum 1200 words</span></p>
                <p class="pe-copy pe-copy--large"><span class="pe-label--bold line-item-02 font-size-16">Citation Style:</span><span class="font-size-16"> APA</span></p>
              </div>
            </div>
      </div><!--gravity-grid-->
    </div>

  </section>