{{#revelFooter}}
	<div class="revel-footer">
		<button class="pe-icon--btn" aria-label=""  >
			<svg focusable="false" class="pe-icon--view-list-18" aria-hidden="false"  aria-label="book seats" title="view list" role="img" >
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#view-list-18"></use>
			</svg>
		</button>
	{{> molecules-progress-bar }}
		<button class="pe-icon--btn" aria-label=""  >
			<svg focusable="false" class="pe-icon--font-setting-18" aria-hidden="false"  aria-label="set font size" title="book seats" role="img" >
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#font-setting-18"></use>
			</svg>
		</button>
	</div>
{{/revelFooter}}
