{{#fancyInput}}
<div class="fancy-input">
  <label class="pe-textLabelInput__label" for="{{id}}">{{label}}</label>
  <input type="text" class="pe-textInput" id="{{id}}" placeholder="{{placeholder}}">
  <span class="pe-input_underline"></span>
</div>
{{/fancyInput}}