<div>
    {{> molecules-header-assignment-details }}
</div>

<div class="assignment-details">
        <div class="title-box">
                <h1 class="pe-page-title">Another Page for a Test</h1><span class="class-id">ID# 123456</span>
        </div>

        <div class="container-inputs">
            <div class="fancy-input">
                <label class="pe-textLabelInput__label" for="a">Assignment title</label>
                <input type="text" class="pe-textInput" id="a" aria-required="true" placeholder="Enter a title" value="">
                <span class="pe-input_underline"></span>
            </div>

            <div class="dropdown-menu discipline-dropdown" style="margin-top:-12px">
                <ul role="menu" class="menu pe-label hidden">
                    <li role="menuitemcheckbox" aria-checked="false">
                        <a href="#">
                            <div class="pe-checkbox">
                                <input type="checkbox" id="checkBoxId-01" value="Bacon">
                                <label for="checkBoxId-01">Physiology</label>
                                <span>
                                <svg focusable="true" class="pe-icon--check-sm-18" aria-hidden="">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                                </svg>
                                </span>
                            </div>
                                </a>
                    </li>

                    <li role="menuitemcheckbox" aria-checked="false">
                        <a href="#">
                            <div class="pe-checkbox">
                                <input type="checkbox" id="checkBoxId-02" value="Bacon">
                                <label for="checkBoxId-02">Advanced Physiology</label>
                                <span>
                                <svg focusable="true" class="pe-icon--check-sm-18" aria-hidden="">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                                </svg>
                                </span>
                            </div>
                                </a>
                    </li>

                    <li role="menuitemcheckbox" aria-checked="false">
                        <a href="#">
                            <div class="pe-checkbox">
                                <input type="checkbox" id="checkBoxId-03" value="Bacon">
                                <label for="checkBoxId-03">Archaeology</label>
                                <span>
                                <svg focusable="true" class="pe-icon--check-sm-18" aria-hidden="">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                                </svg>
                                </span>
                            </div>
                        </a>
                    </li>
            </div>
    <div class="nav-rule"></div>
    <div class="assignment-details-nav">
        <div class="nav-container">
            <button class="pe-btn__tertiary--btn_xlarge delete-btn" onclick="https://ux.pearson.com/prototypes/glp-writing-solutions-pl/?p=pages-TESTING-02">Test 1</button>
            <button class="pe-btn__tertiary--btn_xlarge save-btn" onclick="location.href = '{{path}}{{url}}'">Test 2</button>
            <button class="pe-btn__primary--btn_xlarge save-and-publish-btn" onclick="location.href = '{{path}}{{url}}'">Test 3</button>
        </div>
    </div>
</div>

