{{#textArea}}
<div class="textarea">
    <label class="pe-textLabelInput__label" for="{{id}}">{{label}}</label>
    <textarea class="pe-multiLineText" id="{{id}}" cols="30" rows="5" placeholder="Many words displayed over multiple lines."></textarea>
</div>
{{/textArea}}
