{{#textArea}}
<div class="textarea">
    <label class="pe-textLabelInput__label" for="{{id}}">{{label}}</label>
    <textarea class="pe-multiLineText--readOnly" id="{{id}}" cols="30" rows="5" readonly>{{value}}</textarea>
</div>
{{/textArea}}
