<h3 class="pe-title pe-title--large">Large Section Heading</h3>
<h3 class="pe-title pe-title--large pe-bold">Large and Bold Section Headings</h3>
<h3 class="pe-title pe-title--large pe-title--secondary">Secondary Color Default Section Headings</h3>

<h3 class="pe-title">Basic Section Heading</h3>
<h3 class="pe-title pe-title--secondary">Secondary Color Default Section Headings</h3>
<h3 class="pe-title pe-bold">Bold Section Heading</h3>

<h3 class="pe-title pe-title--small">Small Section Heading</h3>
<h3 class="pe-title pe-title--small pe-title--secondary">Secondary Color Small Section Headings</h3>
<h3 class="pe-title pe-title--small pe-bold">Small and Bold Section Headings</h3>
