{{#paginationGroup}}
<div class="pagination page">
    <div class="control left">
        {{#controlLeft}} {{> pearson-icon }} {{/controlLeft}}
    </div>
    <div class="group pe-label">
        <span>Page </span><span class="first">1</span> of <span class="total">{{total}}</span>
    </div>
    <div class="control right">
        {{#controlRight}} {{> pearson-icon }} {{/controlRight}}
    </div>
</div>
{{/paginationGroup}}
