{{#table}}
<div class="responsive-table">
    <table class="{{styleModifier}}" aria-label="{{tableName}}">
        <thead>
            <tr>
                {{#th}}
                <th scope="col">{{label}}</th>
                {{/th}}
            </tr>
        </thead>
        <tbody>
            {{#tr}}
            <tr>
                <th scope="row">{{label}}</th>
                {{#td}}
                <td>{{label}}</td>
                {{/td}}
            </tr>
            {{/tr}}
        </tbody>
    </table>
</div>
{{/table}}