<div class="sub-container settings create-assignment">
    <div class="basic-settings">

        <div class="create-assignment--container">

            <div class="control-group-large">

                <div class="fancy-input">
                    <label class="pe-textLabelInput__label" for="a">Assignment title</label>
                    <input type="text" class="pe-textInput" id="a" aria-required="true" placeholder="Enter a title" value="">
                    <span class="pe-input_underline"></span>
                </div>

                <div class="fancy-input">
                    <label class="pe-textLabelInput__label" for="b">Keywords</label>
                    <input type="text" class="pe-textInput" id="b" aria-required="true" placeholder="Separated by commas" value="">
                    <span class="pe-input_underline"></span>
                </div>

                <div class="discipline-setting">
                    <label class="pe-textLabelInput__label" for="c">Discipline - <span class="pe-title--small">select all that apply</span></label>

                    <div class="dropdown">
                        <button role="button" aria-haspopup="true" aria-expanded="false" type="button" class="pe-btn pe-btn--btn_large">Anatomy & Physiology
                          <svg focusable="false" class="pe-icon--dropdown-open-sm-18" aria-hidden="" >
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-open-sm-18"></use>
                          </svg>
                        </button>

                    <div class="dropdown-menu discipline-dropdown" style="margin-top:-12px">
                        <ul role="menu" class="menu pe-label hidden">
                            <li role="menuitemcheckbox" aria-checked="false">
                                <a href="#">
                                    <div class="pe-checkbox">
                                        <input type="checkbox" id="checkBoxId-01" value="Bacon">
                                        <label for="checkBoxId-01">Anatomy & Physiology</label>
                                        <span>
                                        <svg focusable="true" class="pe-icon--check-sm-18" aria-hidden="">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                                        </svg>
                                        </span>
                                    </div>
				                        </a>
                            </li>

                            <li role="menuitemcheckbox" aria-checked="false">
                                <a href="#">
                                    <div class="pe-checkbox">
                                        <input type="checkbox" id="checkBoxId-02" value="Bacon">
                                        <label for="checkBoxId-02">Anthropology</label>
                                        <span>
                                        <svg focusable="true" class="pe-icon--check-sm-18" aria-hidden="">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                                        </svg>
                                        </span>
                                    </div>
				                        </a>
                            </li>

                            <li role="menuitemcheckbox" aria-checked="false">
                                <a href="#">
                                    <div class="pe-checkbox">
                                        <input type="checkbox" id="checkBoxId-03" value="Bacon">
                                        <label for="checkBoxId-03">Archaeology</label>
                                        <span>
                                        <svg focusable="true" class="pe-icon--check-sm-18" aria-hidden="">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                                        </svg>
                                        </span>
                                    </div>
				                        </a>
                            </li>

                            <li role="menuitemcheckbox" aria-checked="false">
                                <a href="#">
                                    <div class="pe-checkbox">
                                        <input type="checkbox" id="checkBoxId-04" value="Bacon">
                                        <label for="checkBoxId-04">Biology</label>
                                        <span>
                                        <svg focusable="true" class="pe-icon--check-sm-18" aria-hidden="">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                                        </svg>
                                        </span>
                                    </div>
				                        </a>
                            </li>

                            <li role="menuitemcheckbox" aria-checked="false">
                                <a href="#">
                                    <div class="pe-checkbox">
                                        <input type="checkbox" id="checkBoxId-05" value="Bacon">
                                        <label for="checkBoxId-05">Chemistry</label>
                                        <span>
                                        <svg focusable="true" class="pe-icon--check-sm-18" aria-hidden="">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                                        </svg>
                                        </span>
                                    </div>
				                        </a>
                            </li>

                            <li role="menuitemcheckbox" aria-checked="false">
                                <a href="#">
                                    <div class="pe-checkbox">
                                        <input type="checkbox" id="checkBoxId-06" value="Bacon">
                                        <label for="checkBoxId-06">Computer Science</label>
                                        <span>
                                        <svg focusable="true" class="pe-icon--check-sm-18" aria-hidden="">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                                        </svg>
                                        </span>
                                    </div>
				                        </a>
                            </li>

                            <li role="menuitemcheckbox" aria-checked="false">
                                <a href="#">
                                    <div class="pe-checkbox">
                                        <input type="checkbox" id="checkBoxId-07" value="Bacon">
                                        <label for="checkBoxId-07">Earth Sciences</label>
                                        <span>
                                        <svg focusable="true" class="pe-icon--check-sm-18" aria-hidden="">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                                        </svg>
                                        </span>
                                    </div>
				                        </a>
                            </li>

                            <li role="menuitemcheckbox" aria-checked="false">
                                <a href="#">
                                    <div class="pe-checkbox">
                                        <input type="checkbox" id="checkBoxId-08" value="Bacon">
                                        <label for="checkBoxId-08">Economics</label>
                                        <span>
                                        <svg focusable="true" class="pe-icon--check-sm-18" aria-hidden="">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                                        </svg>
                                        </span>
                                    </div>
				                        </a>
                            </li>

                            <li role="menuitemcheckbox" aria-checked="false">
                                <a href="#">
                                    <div class="pe-checkbox">
                                        <input type="checkbox" id="checkBoxId-09" value="Bacon">
                                        <label for="checkBoxId-09">Geology</label>
                                        <span>
                                        <svg focusable="true" class="pe-icon--check-sm-18" aria-hidden="">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                                        </svg>
                                        </span>
                                    </div>
				                        </a>
                            </li>

                            <li role="menuitemcheckbox" aria-checked="false">
                                <a href="#">
                                    <div class="pe-checkbox">
                                        <input type="checkbox" id="checkBoxId-10" value="Bacon">
                                        <label for="checkBoxId-10">History</label>
                                        <span>
                                        <svg focusable="true" class="pe-icon--check-sm-18" aria-hidden="">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                                        </svg>
                                        </span>
                                    </div>
				                        </a>
                            </li>

                            <li role="menuitemcheckbox" aria-checked="false">
                                <a href="#">
                                    <div class="pe-checkbox">
                                        <input type="checkbox" id="checkBoxId-11" value="Bacon">
                                        <label for="checkBoxId-11">Economics</label>
                                        <span>
                                        <svg focusable="true" class="pe-icon--check-sm-18" aria-hidden="">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                                        </svg>
                                        </span>
                                    </div>
				                        </a>
                            </li>

                            <li role="menuitemcheckbox" aria-checked="false">
                                <a href="#">
                                    <div class="pe-checkbox">
                                        <input type="checkbox" id="checkBoxId-12" value="Bacon">
                                        <label for="checkBoxId-12">Geography</label>
                                        <span>
                                        <svg focusable="true" class="pe-icon--check-sm-18" aria-hidden="">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                                        </svg>
                                        </span>
                                    </div>
				                        </a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="instructions">
                    <label class="pe-textLabelInput__label" for="d">Instructions</label>

                    <div class="create-prompt">
                        <a href="#" class="create-prompt-link">Create Prompt</a>


                    <div class="textarea">
                        <textarea class="pe-multiLineText" id="textareaId" cols="30" rows="5" placeholder="Enter a prompt"></textarea>
                    </div>
			              <div class="placement" style="z-index: 25;">{{> atoms-slim-editor}}</div>
                </div>

                </div>

                <div class="rubric-details">
                    <label class="pe-textLabelInput__label" for="e">Rubric</label>
                    <a href="#">AACU Creative Thinking VALUE Rubric <span><img height="14" src="../../images/external-link-icon.svg" focusable="false" aria-hidden=""></span></a>
                </div>

                <div class="learning-objectives">
                    <label class="pe-textLabelInput__label" for="f">Learning objective - <span class="pe-title--small">You can enter a goal for this assignment that students can see</span></label>

                    <div class="textarea">
                    <textarea class="pe-multiLineText" id="g" cols="30" rows="5" placeholder="Enter a learning objective"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
