<div class="assignment-details-nav">
    <div class="nav-container">
        <button class="pe-btn__tertiary--btn_xlarge delete-btn">Delete</button>
        <button class="pe-btn__tertiary--btn_xlarge save-btn">Save</button>
        <button class="pe-btn__primary--btn_xlarge save-and-publish-btn">Save and publish</button>
    </div>
</div>
