.basic-settings {

    width: 709px;

    .control-group-large label.pe-textLabelInput__label {
        font-size: 20px;
        font-weight: 400;
        color: #252525;
        margin-bottom: 10px;
    }

    .fancy-input {
        margin-bottom: 40px;
    }

    .discipline-setting {
        button#menubutton1 {
            margin-bottom: 40px;
        }
        ul#menu1.menu.pe-label {
            margin-top: -36px;
        }
    }

    .instructions {
        .placement {
            margin-top: -5px;
            margin-bottom: 21px;
        }
    }

    .rubric-details {
        margin-top: 13px;
        margin-bottom: 40px;
        span {
            margin-left: 5px;
        }
    }

    .learning-objectives {
        margin-bottom: 96.5px;
    }

}
