<div class="gr-dropdowns wsl-glp">
	<button data-action="dropdown" id="dropdownTrigger" aria-haspopup="true" aria-expanded="false" class="pe-btn pe-btn--btn_large">Discipline options
		<svg focusable="false" class="pe-icon--dropdown-open-sm-18" aria-hidden="" >
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-open-sm-18"></use>
		</svg>
	</button>
	<div class="gr-dropdown-menu" style="display:none" multiselect>
		<div class="mobile-group">
			<span class="pe-title pe-title--small truncate">Discipline options</span>
			<button id="mobileClose" class="pe-icon--btn" aria-label="close dropdown">
				<svg focusable="false" class="pe-icon--remove-lg-18" aria-hidden="" >
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#remove-lg-18"></use>
				</svg>
			</button>
		</div>
		<ul role="menu" class="menu pe-label hidden">
			<li role="none">
				<button class="pe-link--btn" role="menuitemcheckbox" aria-checked="false">
					<svg focusable="false" class="pe-icon--check-sm-18" aria-hidden="" >
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
					</svg>
					<span class="option-text">Anatomy & Physiology</span>
				</button>
			</li>
			<li role="none">
				<button class="pe-link--btn" role="menuitemcheckbox" aria-checked="false">
					<svg focusable="false" class="pe-icon--check-sm-18" aria-hidden="" >
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
					</svg>
					<span class="option-text">Astronomy</span>
				</button>
			</li>
			{{#liSeparator}}
			<li class="seperator" role="none">
			{{/liSeparator}}
			<li role="none">
				<button class="pe-link--btn" role="menuitemcheckbox" aria-checked="false">
					<svg focusable="false" class="pe-icon--check-sm-18" aria-hidden="" >
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
					</svg>
					<span class="option-text">Biology</span>
				</button>
			</li>
			<li role="none">
				<button class="pe-link--btn" role="menuitemcheckbox" aria-checked="false">
					<svg focusable="false" class="pe-icon--check-sm-18" aria-hidden="" >
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
					</svg>
					<span class="option-text">Business Administration</span>
				</button>
			</li>
			<li role="none">
				<button class="pe-link--btn" role="menuitemcheckbox" aria-checked="false">
					<svg focusable="false" class="pe-icon--check-sm-18" aria-hidden="" >
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
					</svg>
					<span class="option-text">Literature</span>
				</button>
			</li>
			<li role="none">
				<button class="pe-link--btn" role="menuitemcheckbox" aria-checked="false">
					<svg focusable="false" class="pe-icon--check-sm-18" aria-hidden="" >
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
					</svg>
					<span class="option-text">Political Science</span>
				</button>
			</li>
			<li role="none">
				<button class="pe-link--btn" role="menuitemcheckbox" aria-checked="false">
					<svg focusable="false" class="pe-icon--check-sm-18" aria-hidden="" >
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
					</svg>
					<span class="option-text">Psychology</span>
				</button>
			</li>
			{{#additionMultiSelectOptions}}
			<li role="none">
				<button class="pe-link--btn" role="menuitemcheckbox" aria-checked="false">
					<svg focusable="false" class="pe-icon--check-sm-18" aria-hidden="" >
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
					</svg>
					<span class="option-text">Option Eight</span>
				</button>
			</li>
			<li class="seperator" role="none">
				<button class="pe-link--btn" role="menuitemcheckbox" aria-checked="false">
					<svg focusable="false" class="pe-icon--check-sm-18" aria-hidden="" >
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
					</svg>
					<span class="option-text">Option Nine</span>
				</button>
			</li>
			<li role="none">
				<button class="pe-link--btn" role="menuitemcheckbox" aria-checked="false">
					<svg focusable="false" class="pe-icon--check-sm-18" aria-hidden="" >
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
					</svg>
					<span class="option-text">Option Ten</span>
				</button>
			</li>
			{{/additionMultiSelectOptions}}
		</ul>
	</div>
</div>
