{{#checkBox}}
<div class="pe-checkbox">
  <input type="checkbox" id="{{id}}" value="{{label}}" {{#disabled}} disabled{{/disabled}}{{#checked}} checked{{/checked}}/>
  <label for="{{id}}">{{label}}</label>
  <span>
			{{> pearson-single-icon }}
                </span>
</div>
{{/checkBox}}