<h2>Pearson - PatternLab</h2>
<ul>
    <li class="bold">Includes the following:</li>
    <li><a href="https://www.npmjs.com/package/@pearson-components/elements-sdk"> Elements v1.14.9 </a>
    </li>
    <li><a href="https://github.com/pearson-ux/pearson-pattern-lab">Patternlab v2.0.0-alpha.3</a>
    </li>
    <li><a href="https://uxframework.pearson.com/" target="_blank">Visit the Pearson UX Framework</a>
    </li>
</ul>
