<!--
Button is for example only -
You can use any button you want -
Just make sure the data-drawer-id is present and matches the drawer you want to open
-->
{{#showDrawerButton}}
<button class="pe-btn pe-btn--btn_large" data-drawer-id="one">Toggle Drawer</button> {{/showDrawerButton}} {{#drawer}}
<div class="drawer" data-drawer-open="{{drawerId}}" aria-hidden="true">
  <div class="title">
    <div class="hidden" aria-hidden="true">{{>pearson-system-back-btn}}</div>
    <h3 class="pe-title" aria-hidden="false">{{title}}</h3>
    {{> pearson-icon }}
  </div>
  <div class="notifications" aria-hidden="false">
    {{#topics}}
    <div class="notification-content">
      <svg focusable="false" class="pe-icon--new-notification-9" role="img" aria-label="new notification">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#new-notification-9"></use>
            </svg>
      <div class="topic" data-drawer-id="{{dataId}}">
        <span class="pe-label pe-label--bold">{{title}}</span>
        <p>{{content}}</p>
      </div>
    </div>
    {{/topics}}
    <div class="drawer-actions text-center">
      <button class="pe-btn pe-btn--btn_large">View Archive</button>
    </div>
  </div>
  {{#archive}}
  <div class="archive hidden" aria-hidden="true">
    <h3 class="pe-title">{{title}}</h3>
    {{#topics}}
    <div class="topic" data-drawer-id="{{dataId}}">
      <span class="pe-label pe-label--bold">{{title}}</span>
      <p>{{content}}</p>
    </div>
    {{/topics}}
  </div>

  {{/archive}}

</div>
{{/drawer}}