.header {
  margin:0;
}


.revel {
  background: $neutral-two;
  
  p {
    font-size:18px;
    line-height:2;
    margin-bottom:2em;
  }
  
  h1 {
    font-size: 2.71429rem;
    line-height: 3.71429rem;
    font-weight: lighter;
    color: #252525;
    margin: 2em 0 1em;
  }
  .chapter {
    margin:0 auto;
    background:white;
    padding:1em 1em;
    max-width:1440px;
    .bodymatter, .chapter, .level1 {
      margin:0 auto;
      max-width:768px;
      font-size:18px;
    }
    
    .level1 {
      figure {
        margin-left:0;
        margin-bottom:1em;
      }
    }
  }
  
  .lotext {
    color: $condition-one;
    font-size: 1.71429rem;
    line-height: 1.5;
    font-weight: normal;
    
    
  }
  
  ol {
    list-style-type: none;
    @media(max-width:640px) {
      margin:0;
      padding:0;
    }
    p {
      margin:0;
    }
    li {
      margin-top:2em;
    }
  }
  ul {
    p {
      margin:1em;
    }
  }
  
  .ls_audio {
    margin-top: 2em;
    @media(min-width:640px) {
      display:flex;
      align-items: center;
    }
    
    button {
      margin:0;
      margin-right:1em;
      @media(max-width:640px) {
        margin:2em 0;
      }
    }
    p {
      margin:0;
      font-size:14px;
      margin-bottom:.5em;
    }
    @media(max-width:640px) {
      margin:0;
    }
  }
  
  .vignette {
    margin:2em;
    font-style: italic;
    @media(max-width:640px) {
      margin:0;
    }
  }
  figure {
    text-align: center;
    header {
      display:flex;
      align-items: center;
      border-top:1px solid $neutral-two;
      border-bottom:1px solid $neutral-two;
      padding:.5em 0;
      h1 {
        margin:0;
      }
      p {
        margin:0;
        font-size:14px;
        margin-left:1em;
      }
    }
    img {
      padding: 1em;
      border: 1px solid;
    }
    &.table {
      margin:0;
    }
  }
  .caption, .caption p, .source p {
    font-size:14px;
  }
  .caption p {
    margin-bottom:0;
  }
  .entry-point {
    border-top:1px solid $neutral;
    margin:4em auto;
    padding:2em 0;
  }
  video {
    width:100%;
    
  }
  table {
    caption {
      margin-bottom:1em;
    }
  }
  th {
    p {
      font-size:12px;
      margin:0;
    }
  }
  td {
    p {
      font-size:12px;
      margin:0;
    }
  }
}