<!-- <div class="glp-wsl assessment-control-bar-container preview-action-bar white-bg border-bottom"> -->

<div class="glp-wsl preview-action-bar white-bg border-bottom">
    <div class="assessment-control-bar max-content-width">
        <button class="pe-btn--btn_small left-button" type="button">Edit</button>
        <div> 
            <button class="pe-btn--btn_small preview" type="button" onclick="">Save</button>
            <button class="pe-btn__primary--btn_small right-button" id="saveBtn" type="button">Done</button>
        </div>
    </div>
</div>