.pe-proto {
  &.core-header {
    @include flex;
	  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-bottom: 1px solid #e9e9e9;
    background-color: white;
    padding: 1.2em 0px;
    transition: all 0.5s ease;
    position: relative;
    width: 100%;
    left: 0;

	  .max-content-width {
		  @include flex;
		  position: relative;
		 // padding: 1.2em 40px;
	  }

	  .actions {
		  display: flex;
		  align-items: center;

		  button + button {
			  margin-left: 20px;
		  }

		  button.edit {
			  height: 32px;
			  width: 32px;
			  padding:4px;
			  &.active {
				  //color: $primary;
				  background-color: #e9e9e9;
				  //border: 1px solid $neutral;
				  border-radius: 50%;

			  }
		  }
	  }

    .open-btn {
      @include flex;

      button {
        margin-right: 1em;

		  svg {
			  pointer-events:none;
		  }

        &.active {
          color: $neutral-three;
        }
      }
    }

    h1 {
      margin: 0;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
		max-width: 100%;
    }

    &.resize {
      margin-left: 320px;
      width: calc(100% - 320px);

      @media (min-width: 640px) {
        width: calc(100% - 400px);
        margin-left: 400px;
      }
    }

    .font-sizer {
      position: absolute;
      right: 0;
      left: unset;
      top: 3.5em;
    }

    &.cite {
      background-color: transparent;
      color: white;
      z-index: 1100;

      button {
        color: white;

        &#whiteButton {
          color: black;
        }
      }
    }
  }
}

.drawer-container {
  width: 320px;
  max-width: 320px;
  left: -320px;
  display: none;
  top: 0px;
  position: fixed;

  //padding:30px;
  overflow: hidden;
  height: 100%;
  transition: all 0.5s ease;
  z-index: 1;

  @media (min-width: 640px) {
    width: 400px;
    max-width: 400px;
  }

  &.open {
    left: 0;
    display: block;
    background-color: white;
    z-index: 2000;
	  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.15);
  }

  //&:before {
  //  content: '';
  //  display: block;
  //  //box-shadow: inset -7px 0 7px -7px rgba(0, 0, 0, 0.25);
	//  //box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.15);
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  width: 7px;
  //  height: 100%;
  //}
}

.for-mobile {
  @media (min-width: 640px) {
    display: none;
  }

  text-align: center;
  margin-right: 0 !important;
}

.no-mobile {
  @media (max-width: 640px) {
    display: none;
  }
}