.glp-wsl {
  &.assessment-control-bar-container {
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
    // padding: 1.2em 40px;
    padding-top: 1.2em 0;
    &.border-bottom {
      border-bottom:1px solid #e9e9e9;
    }

    .assessment-control-bar {
      max-width: 776px;


      width:100%;
      height: 64px;
      padding-top: 16px;
      padding-bottom: 16px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      text-align: right;

      div {
        justify-self: flex-end;
        margin-left:auto;
      }
      .left-button {    
        //Responsive
        @media (max-width: 887px) {

          padding: 0;
        }

        @media (max-width: 432px) {

        }

        @media (max-width: 399px) {

        }
      }
      .right-button {


        //Responsive
        @media (max-width: 887px) {

          padding: 0;
        }
        @media (max-width: 432px) {

        }

        @media (max-width: 399px) {

        }
      }
      button + button {
        margin-left: 12px;
        height: 32px;
        width: 102px;
      }
      button.pe-btn--btn_small {
        width: 102px;
        height: 32px;
      }
    }

  }

}


