<div>
  {{> pearson-header }}
</div>

<div class="authoring-home">
  <h1 class="pe-page-title ws-title">Assignment templates</h1>

  <div class="dropdown">
    <button role="button" aria-haspopup="true" aria-expanded="false" type="button" class="pe-btn__primary--btn_large create-assignment-btn">
                Create Assignment 
                <span>
                    <svg class="pe-icon--dropdown-open-sm-18" role="img" alt="Dropdown">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-open-sm-18"></use>
                    </svg>
                </span>
            </button>
    <div class="dropdown-menu" style="margin-top: -34px; margin-left: 42px;">
      <ul role="menu" class="menu pe-label hidden" id="menu1" aria-activedescendant="menuitem1">
        <li role="menuitemcheckbox" aria-checked="false" id="menuitem1" style="padding: 7px 10px; outline: navy solid 2px; background-color: rgb(233, 233, 233);">
          <a href="#">
                            <svg focusable="false" class="pe-icon--check-sm-18" aria-hidden="">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                            </svg>
                            Writing
                        </a>
        </li>
        <li role="menuitemcheckbox" aria-checked="false" id="menuitem2" style="padding: 7px 10px;">
          <a href="#">
                            <svg focusable="false" class="pe-icon--check-sm-18" aria-hidden="">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                            </svg>
                            Shared media
                        </a>
        </li>
        <li role="menuitemcheckbox" aria-checked="false" id="menuitem3" style="padding: 7px 10px;">
          <a href="#">
                            <svg focusable="false" class="pe-icon--check-sm-18" aria-hidden="">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-sm-18"></use>
                            </svg>
                            Video quiz
                        </a>
        </li>
      </ul>
    </div>
  </div>



  <div class="container-templates">
    <div class="list-templates">
      <div class="filter-bar">
        <div class="search">
          <div class="basic-input flex">
            <span class="meta-filter">Search</span>
            <input type="text" class="pe-textInput--basic" id="search" aria-label="{{ariaLabel}}" placeholder="keyword(s) separated by commas">
            <button type="button" class="pe-icon--btn" aria-label="search">
                              <svg focusable="false" class="pe-icon--search-24" aria-hidden="false"  aria-label="search" title="search" role="img" >
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search-sm-18"></use>
                              </svg>
                          </button>
          </div>
        </div>
        <div class="filter-by flex">
          <span class="meta-filter">Filter by:</span>
          <div class="discipline">
            {{#dropdown}}
            <div class="dropdown">
              <!-- {{> pearson-drop-btn (label: "Discipline")}} -->
              <button role="button" aria-haspopup="true" aria-expanded="false" type="button" class="pe-btn pe-btn--btn_large">
                                Discipline
                                <svg class="pe-icon--dropdown-open-sm-18" role="img" alt="Dropdown">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-open-sm-18"></use>
                                </svg>
                              </button>
              <div class="dropdown-menu" style="margin-top:-12px">
                {{>pearson-menu}}
              </div>
            </div>
            {{/dropdown}}
          </div>
          <div class="type">
            <div class="dropdown">
              <button role="button" aria-haspopup="true" aria-expanded="false" type="button" class="pe-btn pe-btn--btn_large">
                                Type
                                <svg class="pe-icon--dropdown-open-sm-18" role="img" alt="Dropdown">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-open-sm-18"></use>
                                </svg>
                              </button>
              <div class="dropdown-menu" style="margin-top:-12px">
                {{>pearson-menu}}
              </div>
            </div>
          </div>
          <div class="user">
            <div class="dropdown">
              <button role="button" aria-haspopup="true" aria-expanded="false" type="button" class="pe-btn pe-btn--btn_large">
                                User 
                                <svg class="pe-icon--dropdown-open-sm-18" role="img" alt="Dropdown">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-open-sm-18"></use>
                                </svg>
                              </button>
              <div class="dropdown-menu" style="margin-top:-12px">
                {{>pearson-menu}}
              </div>
            </div>
          </div>
          <div class="status">
            <div class="dropdown">
              <button role="button" aria-haspopup="true" aria-expanded="false" type="button" class="pe-btn pe-btn--btn_large">
                                Status
                                <svg class="pe-icon--dropdown-open-sm-18" role="img" alt="Dropdown">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-open-sm-18"></use>
                                </svg>
                              </button>
              <div class="dropdown-menu" style="margin-top:-12px">
                {{>pearson-menu}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="responsive-table table-assignment-templates">
        <table class="hoverable" aria-label="basic table example">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Discipline</th>
              <th scope="col">Type</th>
              <th scope="col">Published</th>
              <th scope="col">Creator</th>
              <th scope="col">Keywords</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Government in America</th>
              <td>Civics</td>
              <td>Writing</td>
              <td>05 / 06 / 16</td>
              <td>Hacker, Kevin</td>
              <td>Government</td>
            </tr>
            <tr>
              <th scope="row">The Constitution</th>
              <td>Political Science</td>
              <td>Shared media</td>
              <td>no</td>
              <td>Wallace, Ramon</td>
              <td>United States</td>
            </tr>
            <tr>
              <th scope="row">Introducting the Government in American So...</th>
              <td>Political Science</td>
              <td>Video quiz</td>
              <td>06 / 03 / 16</td>
              <td>Brooks, Alvin</td>
              <td>Government</td>
            </tr>
            <tr>
              <th scope="row">Amateur Media</th>
              <td>Sociology</td>
              <td>Writing</td>
              <td>no</td>
              <td>Hoover, Becky</td>
              <td>Media, U.S.</td>
            </tr>
            <tr>
              <th scope="row">Advertising and Society - Outline</th>
              <td>Media Studies</td>
              <td>Writing</td>
              <td>06 / 17 / 16</td>
              <td>Amarasiriwarde...</td>
              <td>Advertising</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="pagination basic pagination-assignment-templates">
        <div class="control left">
          <button type="button" class="pe-icon--btn" aria-label="" disabled>
                <svg focusable="false" class="pe-icon--chevron-back-sm-18" aria-hidden="" >
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-back-sm-18"></use>
                </svg>
                
                </button>

        </div>
        <ul class="items">
          <li class="current" aria-current="false"><a href="#">1</a>
          </li>
          <li aria-current="false"><a href="#">2</a>
          </li>
          <li aria-current="false"><a href="#">3</a>
          </li>
          <li aria-current="false"><a href="#">4</a>
          </li>
          <li aria-current="false"><a href="#">5</a>
          </li>
        </ul>
        <div class="control right">
          <button type="button" class="pe-icon--btn" aria-label="">
                <svg focusable="false" class="pe-icon--chevron-next-sm-18" aria-hidden="" >
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-next-sm-18"></use>
                </svg>
                
                </button>

        </div>
      </div>
    </div>
  </div>
  <footer class="pe-proto footer">
    <p>Copyright © 2017 Pearson Education Inc. All rights reserved.</p>
    <ul>
      <li><a href="#">Help</a>
      </li>
      <li><a href="#">Accessibility</a>
      </li>
      <li><a href="#">Privacy Policy</a>
      </li>
      <li class="standalone"><a href="#">Terms &amp; Conditions</a>
      </li>
    </ul>
  </footer>
</div>