{{#glpAssignmentDetailsAudexTemplate}}
<div class="wsl-glp gravity-grid">
{{> molecules-create-assigment-header}}

{{> molecules-create-assignment-action-bar}}

<div class="glp-wsl content-formatter-assignment-creation">
{{> organisms-create-assignment-content}}
</div>
</div>
{{/glpAssignmentDetailsAudexTemplate}}
