<footer class="pe-proto footer">
    <p>Copyright © 2017 Pearson Education Inc. All rights reserved.</p>
    <ul>
        <li><a href="#">Help</a>
        </li>
        <li><a href="#">Accessibility</a>
        </li>
        <li><a href="#">Privacy Policy</a>
        </li>
        <li class="standalone"><a href="#">Terms & Conditions</a>
        </li>
    </ul>
</footer>