<div>
    {{> pearson-header }}
</div>

<div class="authoring-home">
	    <h1 class="pe-page-title ws-title">Assignment templates</h1>
	    <button class="pe-btn__primary--btn_large create-assignment-btn">Create Assignment
	        <span>
	            <svg class="pe-icon--dropdown-open-sm-18" role="img" alt="Dropdown">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-open-sm-18"></use>
              </svg>
	        </span>
	    </button>
</div>
