<div>
    {{> molecules-header-assignment-details }}
</div>

<div class="assignment-details">
        <div class="title-box">
                <h1 class="pe-page-title">Assignment Details</h1><span class="class-id">ID# 123456</span>
        </div>

        <div class="container-inputs">
            {{> molecules-basic-settings}}
        </div>
</div>

<div class="nav-rule"></div>
<div class="nav-container-position">
    {{> molecules-assignment-details-nav}}
</div>

