<div class="pe-proto slim-editor">
    <div class="item">
        <button class="pe-icon--btn" type="button" aria-label="Bold"><span class="fa fa-bold fa-lg" aria-hidden="true"></span></button>
    </div>
    <div class="item">
        <button class="pe-icon--btn" type="button" aria-label="Italic"><span class="fa fa-italic fa-lg" aria-hidden="true"></span></button>
    </div>
    <div class="item">
        <button class="pe-icon--btn" type="button" aria-label="Underline"><span class="fa fa-underline fa-lg" aria-hidden="true"></span></button>
    </div>
    <div class="item">
        <button class="pe-icon--btn" type="button" aria-label="List"><svg focusable="false" class="pe-icon--view-list-18" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#view-list-18"></use></svg></button>
    </div>
    <div class="item">
        <button class="pe-icon--btn" type="button" aria-label="Insert table"><span class="fa fa-table fa-lg" aria-hidden="true"></span></button>
    </div>
    <div class="item">
        <button class="pe-icon--btn" type="button" aria-label="Insert hyperlink"><span class="fa fa-link fa-lg" aria-hidden="true"></span></button>
    </div>
</div>
