<!-- TODO use button component once approved -->
{{#dropdown}}
<div class="dropdown">
    {{> pearson-drop-txt-btn }}
    <div class="dropdown-menu" style="margin-top:-12px">
        {{>pearson-menu}}
    </div>
</div>
{{/dropdown}}

