.dropdown {
  position: relative;

  button {
    position: relative;
    z-index: 9;
  }

  .dropdown-menu {
    position: absolute;
    z-index: 10;

    .menu {
      background-color: $primary-three;
      position: absolute;
    }
  }
}
