{{#selecTable}}
<div class="responsive-table">
  <table class="selectable" aria-label="{{tableName}}">
    <thead>
      <tr>
        <th width="50" scope="col">{{> pearson-checkboxes }}</th>
        {{#th}}
        <th scope="col">{{label}}</th>
        {{/th}}
      </tr>
    </thead>
    <tbody>
      {{#tr}}
      <tr{{#selected}} class="selected" {{/selected}} tabindex="0">
        <th width="50" scope="row">{{> pearson-checkboxes }}</th>
        {{#td}}
        <td>{{label}}</td>
        {{/td}}
        </tr>
        {{/tr}}
    </tbody>
  </table>
</div>
{{/selecTable}}