<div class="gravity-toggle">
	<label for="toggle-0" id="toggle-0-label" class="pe-input-label"
	>Email notifications</label
	>
	<button
			id="toggle-0"
			class="pe-toggle"
			name="toggle-0"
			role="switch"
			aria-labelledby="toggle-0-label"
			aria-checked="false"
	>
		<svg focusable="false" aria-hidden="true">
			<use xlink:href="#check-sm-18"></use>
		</svg>
		<svg focusable="false" aria-hidden="true">
			<use xlink:href="#remove-sm-18"></use>
		</svg>
	</button>
</div>
