# <!-- GLP TOGGLE -->
<!-- {{#toggle}}
<div class="toggle">
    <button role="switch" name="{{id}}" value="false" id="{{id}}" class="pe-toggle" aria-invalid="false" aria-labelledby="{{labelId}}" aria-checked="false">
        <span>{{onIndicator}}</span>
        <span>{{offIndicator}}</span>
    </button>
    <label for="{{id}}" id="{{labelId}}" class="pe-toggle">{{label}}</label>
</div>
{{/toggle}} -->

<pearson-toggle id="checked-toggle" name="textNotifs" aria-checked="true" tabindex="0" role="switch" aria-labelledby="checked-togglelabel" on="">
</pearson-toggle>

