<p class="pe-label icon-instr">Icons are also available in 18*18px size (replace 24 with 18).
    <br>Click on icons to see them in 18*18px size, and examples for the a11y label. Make sure to give icons appropriate a11y labels according to the context.</p>
<div class="icons-grid">
    {{#iconList}}
    <div class="icon-cell flip-container">
        <div class="flipper">
            <div class="front">
                {{#front}} {{> pearson-single-icon }}
                <p class="pe-label">{{size}}</p>
                {{/front}}
            </div>
            <div class="back">
                {{#back}} {{> pearson-single-icon }}
                <p class="pe-label">{{size}}
                    <br>{{label}}</p>
                {{/back}}
            </div>
        </div>
    </div>
    {{/iconList}}
</div>

