.glp-wsl {
  &.gg {
    .grid-container {
      max-width: 1280px;
      display: grid;
      grid-template-columns: repeat(12, 72px); //#of columns, size of each column
      grid-column-gap: 24px; //gutter
      grid-template-rows: auto;
    }
    .grid-item {
      width: 72px;
      border: 1px solid black;
    }

    //Responsive
    /* 12-cols -----------------*/
    //Large Desktop
    @media (min-width: 1176px) {
      .grid-container {
        max-width: 1128px;
        display: grid;
        grid-template-columns: repeat(12, 72px); //#of columns, size of each column
        grid-column-gap: 24px; //gutter
        grid-template-rows: auto;
        margin: auto;
      }
      .grid-item {
        width: 72px;
        border: 1px solid black;
      }
    }

    //Standard Desktop
    @media (min-width: 1080px) {
      .grid-container {
        max-width: 1032px;
        display: grid;
        grid-template-columns: repeat(12, 64px); //#of columns, size of each column
        grid-column-gap: 24px; //gutter
        grid-template-rows: auto;
        margin: auto;
      }
      .grid-item {
        width: 64px;
        border: 1px solid red;
      }
    }

    //Small Desktop
    @media (min-width: 984px) {
      .grid-container {
        max-width: 936px;
        display: grid;
        grid-template-columns: repeat(12, 56px); //#of columns, size of each column
        grid-column-gap: 24px; //gutter
        grid-template-rows: auto;
        margin: auto;
      }
      .grid-item {
        width: 56px;
        border: 1px solid orange;
      }
    }

    //Large tablet
    @media (min-width: 888px) {
      .grid-container {
        max-width: 840px;
        display: grid;
        grid-template-columns: repeat(12, 48px); //#of columns, size of each column
        grid-column-gap: 24px; //gutter
        grid-template-rows: auto;
        margin: auto;
      }
      .grid-item {
        width: 48px;
        border: 1px solid yellow;
      }
    }


    /* 8-cols -----------------*/
    //Standard Tablet
    @media (min-width: 728px) {
      .grid-container {
        max-width: 680px;
        display: grid;
        grid-template-columns: repeat(8, 64px); //#of columns, size of each column
        grid-column-gap: 24px; //gutter
        grid-template-rows: auto;
        margin: auto;
      }
      .grid-item {
        width: 64px;
        border: 1px solid green;
      }
    }

    //Small Tablet
    @media (min-width: 592px) {
      .grid-container {
        max-width: 560px;
        display: grid;
        grid-template-columns: repeat(8, 56px); //#of columns, size of each column
        grid-column-gap: 16px; //gutter
        grid-template-rows: auto;
        margin: auto;
      }
      .grid-item {
        width: 56px;
        border: 1px solid blue;
      }
    }


    /* 4-cols -----------------*/
    //Extra large phone
    @media (min-width: 448px) {
      .grid-container {
        max-width: 432px;
        display: grid;
        grid-template-columns: repeat(4, 96px); //#of columns, size of each column
        grid-column-gap: 16px; //gutter
        grid-template-rows: auto;
        margin: auto;
      }
      .grid-item {
        width: 96px;
        border: 1px solid purple;
      }
    }

    //Large phone
    @media (min-width: 400px) {
      .grid-container {
        max-width: 368px;
        display: grid;
        grid-template-columns: repeat(4, 80px); //#of columns, size of each column
        grid-column-gap: 16px; //gutter
        grid-template-rows: auto;
        margin: auto;
      }
      .grid-item {
        width: 80x;
        border: 1px solid pink;
      }
    }

    //Medium phone
    @media (min-width: 352px) {
      .grid-container {
        max-width: 336px;
        display: grid;
        grid-template-columns: repeat(4, 72px); //#of columns, size of each column
        grid-column-gap: 16px; //gutter
        grid-template-rows: auto;
      }
      .grid-item {
        width: 72px;
        border: 1px solid gray;
      }
    }

    //Small phone
    @media (min-width: 272px) {
      .grid-container {
        max-width: 272px;
        width: 272px;
        display: grid;
        grid-template-columns: repeat(4, 56px); //#of columns, size of each column
        grid-column-gap: 16px; //gutter
        grid-template-rows: auto;
      }
      .grid-item {
        width: 56px;
        border: 1px solid deeppink;
      }
    }

  }
}












// .glp-wsl {
//   &.visible-gravity-grid {
//     .grid-container {
//       max-width: 1280px;
//       display: grid;
//       grid-template-columns: repeat(12, 72px); //#of columns, size of each column
//       grid-column-gap: 24px; //gutter
//       grid-template-rows: auto;
//     }
//     .grid-item {
//       width: 72px;
//       border: 1px solid black;
//     }

//     //Responsive
//     /* 12-cols -----------------*/
//     //Large Desktop
//     // @media (max-width: 1280px) {
//     //   .grid-container {
//     //     display: grid;
//     //     grid-template-columns: repeat(12, 72px); //#of columns, size of each column
//     //     grid-column-gap: 24px; //gutter
//     //     grid-template-rows: auto;
//     //   }
//     //   .grid-item {
//     //     width: 72px;
//     //     border: 1px solid black;
//     //   }
//     // }

//     //Standard Desktop
//     @media (max-width: 1175px) {
//       .grid-container {
//         max-width: 1175px;
//         display: grid;
//         grid-template-columns: repeat(12, 64px); //#of columns, size of each column
//         grid-column-gap: 24px; //gutter
//         grid-template-rows: auto;
//       }
//       .grid-item {
//         width: 64px;
//         border: 1px solid red;
//       }
//     }

//     //Small Desktop
//     @media (max-width: 1079px) {
//       .grid-container {
//         max-width: 1079px;
//         display: grid;
//         grid-template-columns: repeat(12, 56px); //#of columns, size of each column
//         grid-column-gap: 24px; //gutter
//         grid-template-rows: auto;
//       }
//       .grid-item {
//         width: 56px;
//         border: 1px solid orange;
//       }
//     }

//     //Large tablet
//     @media (max-width: 983px) {
//       .grid-container {
//         max-width: 983px;
//         display: grid;
//         grid-template-columns: repeat(12, 48px); //#of columns, size of each column
//         grid-column-gap: 24px; //gutter
//         grid-template-rows: auto;
//       }
//       .grid-item {
//         width: 48px;
//         border: 1px solid yellow;
//       }
//     }


//     /* 8-cols -----------------*/
//     //Standard Tablet
//     @media (max-width: 887px) {
//       .grid-container {
//         max-width: 887px;
//         display: grid;
//         grid-template-columns: repeat(8, 64px); //#of columns, size of each column
//         grid-column-gap: 24px; //gutter
//         grid-template-rows: auto;
//       }
//       .grid-item {
//         width: 64px;
//         border: 1px solid green;
//       }
//     }

//     //Small Tablet
//     @media (max-width: 727px) {
//       .grid-container {
//         max-width: 727px;
//         display: grid;
//         grid-template-columns: repeat(8, 56px); //#of columns, size of each column
//         grid-column-gap: 16px; //gutter
//         grid-template-rows: auto;
//       }
//       .grid-item {
//         width: 56px;
//         border: 1px solid blue;
//       }
//     }


//     /* 4-cols -----------------*/
//     //Extra large phone
//     @media (max-width: 591px) {
//       .grid-container {
//         max-width: 591px;
//         display: grid;
//         grid-template-columns: repeat(4, 96px); //#of columns, size of each column
//         grid-column-gap: 16px; //gutter
//         grid-template-rows: auto;
//       }
//       .grid-item {
//         width: 96px;
//         border: 1px solid purple;
//       }
//     }

//     //Large phone
//     @media (max-width: 447px) {
//       .grid-container {
//         max-width: 447px;
//         display: grid;
//         grid-template-columns: repeat(4, 80px); //#of columns, size of each column
//         grid-column-gap: 16px; //gutter
//         grid-template-rows: auto;
//       }
//       .grid-item {
//         width: 80x;
//         border: 1px solid pink;
//       }
//     }

//     //Medium phone
//     @media (max-width: 399px) {
//       .grid-container {
//         max-width: 399px;
//         display: grid;
//         grid-template-columns: repeat(4, 72px); //#of columns, size of each column
//         grid-column-gap: 16px; //gutter
//         grid-template-rows: auto;
//       }
//       .grid-item {
//         width: 72px;
//         border: 1px solid gray;
//       }
//     }

//     //Small phone
//     @media (max-width: 351px) {
//       .grid-container {
//         max-width: 351px;
//         display: grid;
//         grid-template-columns: repeat(4, 56px); //#of columns, size of each column
//         grid-column-gap: 16px; //gutter
//         grid-template-rows: auto;
//       }
//       .grid-item {
//         width: 56px;
//         border: 1px solid deeppink;
//       }
//     }

//   }
// }
