.glp-wsl {
  &.gravity-grid {
    max-width: 1128px;
    width: 100%;  
    margin: auto;
    .grid-container {
      display: grid;
      grid-template-columns: repeat(12, 72px); //#of columns, size of each column
      grid-column-gap: 24px; //gutter
      grid-template-rows: auto;
    }
    .grid-item {
      width: 72px;
    }

    //Responsive
    /* 12-cols -----------------*/ 
    //Large Desktop
    @media (max-width: 1280px) {
      max-width: 1128px;
      .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 72px); //#of columns, size of each column
        grid-column-gap: 24px; //gutter
        grid-template-rows: auto;
      }
      .grid-item {
        width: 72px;
      }
    }

    //Standard Desktop
    @media (max-width: 1175px) {
      max-width: 1032px;
      .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 64px); //#of columns, size of each column
        grid-column-gap: 24px; //gutter
        grid-template-rows: auto;
      }
      .grid-item {
        width: 64px;
      }
    }

    //Small Desktop
    @media (max-width: 1079px) {
      .grid-container {
        max-width: 936px;
        display: grid;
        grid-template-columns: repeat(12, 56px); //#of columns, size of each column
        grid-column-gap: 24px; //gutter
        grid-template-rows: auto;
      }
      .grid-item {
        width: 56px;
      }
    }

    //Large tablet
    @media (max-width: 983px) {
      .grid-container {
        max-width: 840px;
        display: grid;
        grid-template-columns: repeat(12, 48px); //#of columns, size of each column
        grid-column-gap: 24px; //gutter
        grid-template-rows: auto;
      }
      .grid-item {
        width: 48px;
      }
    }


    /* 8-cols -----------------*/
    //Standard Tablet
    @media (max-width: 887px) {
      .grid-container {
        max-width: 680px;
        display: grid;
        grid-template-columns: repeat(8, 64px); //#of columns, size of each column
        grid-column-gap: 24px; //gutter
        grid-template-rows: auto;
      }
      .grid-item {
        width: 64px;
      }
    }

    //Small Tablet
    @media (max-width: 727px) {
      .grid-container {
        max-width: 560px;
        display: grid;
        grid-template-columns: repeat(8, 56px); //#of columns, size of each column
        grid-column-gap: 16px; //gutter
        grid-template-rows: auto;
      }
      .grid-item {
        width: 56px;
      }
    }


    /* 4-cols -----------------*/
    //Extra large phone
    @media (max-width: 591px) {
      .grid-container {
        max-width: 432px;
        display: grid;
        grid-template-columns: repeat(4, 96px); //#of columns, size of each column
        grid-column-gap: 16px; //gutter
        grid-template-rows: auto;
      }
      .grid-item {
        width: 96px;
      }
    }

    //Large phone
    @media (max-width: 447px) {
      .grid-container {
        max-width: 368px;
        display: grid;
        grid-template-columns: repeat(4, 80px); //#of columns, size of each column
        grid-column-gap: 16px; //gutter
        grid-template-rows: auto;
      }
      .grid-item {
        width: 80x;
      }
    }

    //Medium phone
    @media (max-width: 399px) {
      .grid-container {
        max-width: 336px;
        display: grid;
        grid-template-columns: repeat(4, 72px); //#of columns, size of each column
        grid-column-gap: 16px; //gutter
        grid-template-rows: auto;
      }
      .grid-item {
        width: 72px;
      }
    }

    //Small phone
    @media (max-width: 351px) {
      .grid-container {
        max-width: 272px;
        display: grid;
        grid-template-columns: repeat(4, 56px); //#of columns, size of each column
        grid-column-gap: 16px; //gutter
        grid-template-rows: auto;
      }
      .grid-item {
        width: 56px;
      }
    }

  }
}
