{{#colors}}
<div class="swatch d3">
    {{#colorList}}
    <div class="{{class}}">
        <p class="white">{{label}}</p>
        <p class="black">{{label}}</p>
        <p class="white">{{name}}</p>
        <p class="black">{{name}}</p>
    </div>
    {{/colorList}}
</div>
{{/colors}}
