<div class="pe-container">
  <header class="pe-row margin-bottom">
    <div class="pe-col-12" style="background:cyan">
      <p class="text-center">12 column content zone</p>
    </div>
  </header>
  <div class="pe-row margin-bottom" style="background:#DBF0ED">
    <div class="pe-col-3">
      <p class="text-center" style="background:cyan">3 column content zone</p>
    </div>
    <div class="pe-col-6">
      <p class="text-center" style="background:cyan">6 column content zone</p>
    </div>
    <div class="pe-col-3">
      <p class="text-center" style="background:cyan">3 column content zone</p>
    </div>
  </div>
  <footer class="pe-row margin-bottom">
    <div class="pe-col-12" style="background:cyan">
      <p class="text-center">12 column content zone</p>
    </div>
  </footer>
</div>