<div class="pe-container">
    <div class="pe-row margin-bottom" style="background:#DBF0ED">
        <div class="pe-col-4">
            <p class="text-center" style="background:cyan">4 column content zone</p>
        </div>
        <div class="pe-col-4">
            <p class="text-center" style="background:cyan">4 column content zone</p>
        </div>
        <div class="pe-col-4">
            <p class="text-center" style="background:cyan">4 column content zone</p>
        </div>
    </div>
</div>
