{{#textArea}}
<div class="textarea">
  <label class="pe-textLabelInput__label--label-disabled" for="{{id}}">{{label}}</label>
  <textarea class="pe-multiLineText--disabled" id="{{id}}" cols="30" rows="5" disabled></textarea>
</div>
{{/textArea}}