{{#icon}}
<svg focusable="false" class="pe-icon--{{icon}}" aria-hidden="{{decorative}}" {{#a11yLabel}} aria-label="{{label}}" title="{{label}}" role="img" {{/a11yLabel}}>
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{icon}}"></use>
</svg> {{/icon}}