
<div class="glp-wsl">

    {{> molecules-create-assigment-header}}

    {{> molecules-preview-edit-action-bar}}

    {{> organisms-content-assignment-details-preview-all-top}}

    {{> organisms-content-assignment-details-preview-all-bottom}}

</div>

        
 
