<section class="bodymatter">
	<header>
		<h1 class="title">Memory</h1>
	</header>
	<section class="objectiveset">
		<ol class="objectivelist dynamiclist">
			<li class="objective">
				<p class="lotext"><span class="number">LO 8.9</span> How does aging affect memory?</p>
			</li>
			<li class="objective">
				<p class="lotext"><span class="number">LO 8.10</span> How can memory be improved?</p>
			</li>
		</ol>
	</section>
	<aside class="ls_audio">
		{{#audio}}
			{{> ui-kit-text-icon }}
		{{/audio}}

		<div class="player-container-wrapper" style="display:none">
			<div class="player-container">
				<audio id="player-1" src="https://mediaplayer.pearsoncmg.com/assets/_pmd.true/feldman_0133814912_feldman_08_11?mimeType=mp3" controls="controls">
					<p>Your browser doesn't support HTML5 audio</p>
				</audio>
			</div>
		</div>
	</aside>
	<section class="level2">
		<aside class="vignette">
			<p>Mary Donovan races around the kitchen and makes one last frantic search through her purse. “I must be losing my memory,” she mutters. “I always leave my keys on the counter next to the toaster.” It’s not until her son David comes downstairs ready for hockey practice that Mary remembers she loaned him her car the day before. Sure enough, David produces the keys from the pocket of his varsity jacket. Relieved to have her keys in hand once more, Mary sighs. After all, she is 47. Such episodes are to be expected, she supposes.</p>
		</aside>
		<p>Like Bina Clingman, who was worried about forgetting letters and phone numbers, Mary probably believes that memory loss is common in middle age. However, if she is a typical midlife adult, her assessment may not be accurate. Research shows that most people exhibit minimal or no memory loss. Because of societal stereotypes, however, people may attribute their absentmindedness to aging, even though they have been that way all their lives. It is the
			<span class="emphasis">meaning</span> they give to their forgetfulness that changes, rather than their actual ability to remember (Chasteen et al., 2005; Hoessler &amp; Chasteen, 2008; Hess, Hinson, &amp; Hodges, 2009).
		</p>
		<header>
			<h1 class="title">Types of Memory</h1>
		</header>
		<p>To understand the nature of memory changes, we must consider that memory is traditionally viewed as three sequential components: sensory memory, short-term memory (also called working memory), and long-term memory. <span class="emphasis">Sensory memory</span> is an initial, momentary storage of information. Information is recorded by the sensory system as a raw, meaningless stimulus. Next, information moves into <span class="emphasis">short-term memory</span>, which holds it for 15 to 25 seconds. If the information is rehearsed, it then moves into <span class="emphasis">long-term memory</span>, where it is stored on a relatively permanent basis.</p>
		<p>Both sensory memory and short-term memory show virtually no weakening in middle age. Long-term memory, however, declines for some people. It appears this decline is not a fading or a complete loss of memory, but rather a less efficient registering and storing of information. Age also makes people less efficient at retrieving information. Even if the information was adequately stored in long-term memory, it may become more difficult to locate or isolate it (Salthouse, 2007, 2010).</p>
		<p>Memory declines in middle age are relatively minor, and most can be compensated for by various cognitive strategies. Paying greater attention to material when it is first encountered can aid in its later recall. Your lost car keys may have more to do with your inattentiveness when you put them down than with a decline in memory.</p>
		<p>Many middle adults find it hard to pay attention to certain things for some of the same reasons expertise develops. They are used to using memory shortcuts, <span class="emphasis">schemas</span>, to ease the burden of remembering the many things they experience each day.</p>
		<p><span class="leadin">Memory Schemas.</span> To recall information, people often use <a href="glossary.xhtml#key-schemas" target="_blank"><dfn title="schemas" class="keyword" data-original-title="schemas"><span class="selection_index"/>schemas</dfn></a>, organized bodies of information stored in memory. Schemas represent the way the world is organized, allowing people to categorize and interpret new information. For example, if we have a schema for eating in a restaurant, we don’t regard a meal in a new restaurant as a completely new experience. We know we will be seated at a table or counter and offered a menu from which to select food. Our schema for eating out tells us how to treat the server, what sorts of food to eat first, and that we should leave a tip.</p>
		<p>People hold schemas for individuals (such as the particular behavior patterns of one’s mother, wife, or child) as well as for categories of people (mail carriers, lawyers, or professors) and behaviors or events (dining in a restaurant or visiting the dentist). People’s schemas organize their behavior and help them to interpret social events. A person who knows the schema for visiting the doctor will not be surprised when he is asked to undress.</p>
		<p>Schemas also convey cultural information. Psychologists Susan Fiske and Shelley Taylor (1991) use an example of an old Native American folktale in which the hero participates with several companions in a battle and is shot by an arrow. He feels no pain. When he returns home and tells the story, something black emerges from his mouth, and he dies the next morning.</p>
		<p>This tale puzzles most Westerners. They are unschooled in the particular Native American culture the story comes from. However, to someone familiar with that culture, the story makes perfect sense: The hero feels no pain because his companions are ghosts, and the “black thing” coming from his mouth is his departing soul.</p>
		<p>For a Native American, it may be easy to recall the story, because it makes sense in a way that it doesn’t to members of other cultures. Material that fits into existing schemas is easier to recall than material that doesn’t fit. For example, a person who usually puts her keys in her purse may lose them because she doesn’t recall putting them on the counter. It’s not the “usual place” (Tse et al., 2007).</p>
		<aside class="sidebar">
			<header>
				<h1 class="title">Becoming an Informed Consumer of Development</h1>
			</header>
			<section class="level2">
				<header>
					<h1 class="title">Effective Strategies for Remembering</h1>
				</header>
				<p>
					<span class="emphasis">We are all forgetful at times. However, there are techniques for more effective recall. <a href="glossary.xhtml#key-mnemonics" target="_blank"><dfn title="mnemonics" class="keyword" data-original-title="mnemonics"><span class="selection_index"/>Mnemonics</dfn></a> (pronounced “nee-MON-iks”) are formal strategies for organizing material in ways that make it easier to remember. Among the mnemonics that work are the following (Bloom &amp; Lamkin, 2006; Morris &amp; Fritz, 2006; Collins, 2007):</span>
				</p>
				<ul>
					<li>
						<p><span class="strong">Get organized.</span> For people who have trouble recalling where they left their keys or remembering appointments, the simplest approach is to become more organized. Using a date book, hanging keys on a hook, or using Post-It notes can aid recall.</p>
					</li>
					<li>
						<p><span class="strong">Pay attention.</span> You can improve your recall by paying close attention to new information, and purposefully thinking that you will need to recall it. For example, when you park your car at the mall, pay attention at the moment you park, and remind yourself that you really want to remember the location.</p>
					</li>
					<li>
						<p><span class="strong">Use the encoding specificity phenomenon.</span> According to the encoding specificity phenomenon, people are most likely to recall information in environments that are similar to those in which they initially learned (“encoded”) it (Tulving &amp; Thompson, 1973). For instance, people are best able to recall information on a test if the test is held in the room in which they studied.</p>
					</li>
					<li>
						<p><span class="strong">Visualize.</span> Making mental images of ideas can help you recall them later. For example, if you want to remember that global warming may lead to rising oceans, think of yourself on a beach on a hot day, with the waves coming closer and closer to where you’re sitting.</p>
					</li>
					<li>
						<p><span class="strong">Rehearse.</span> Practice makes memory perfect, or if not perfect, at least better. By practicing or rehearsing what you wish to recall, you can substantially improve your memory. <span class="label">Watch</span> the Video ­Making it Stick in MyPsychLab.</p>
					</li>
				</ul>
			</section>
		</aside>
		<figure class="video">
			<header>
				<h1 class="title">
					<span class="label">Watch</span>
				</h1>
				<p class="subtitle">Making it Stick</p>
			</header>
			<div class="lc_ec_videoinner">
				<video controls="controls" preload="metadata" poster="https://mediaplayer.pearsoncmg.com/assets/_pmd.true/20140523_f3e_011_E08_S06_ALT?mimeType=jpg">
					<source src="https://mediaplayer.pearsoncmg.com/assets/_pmd.true/20140523_f3e_011_E08_S06_ALT?mimeType=mpeg4&amp;size=640&amp;bitrate=600"/>
					<p>Your browser doesn't support HTML5 video</p>
					<track src="../captions/20140523_f3e_011_E08_S06_ALT.vtt" srclang="en" kind="captions" label="English" type="text/vtt" default=""/>
				</video>
			</div>
		</figure>
	</section>