<section class="bodymatter">
    <header>
        <h1 class="title">Relationships: Family in Middle Age</h1>
    </header>
    <section class="objectiveset">
        <ol class="objectivelist dynamiclist">
            <li class="objective">
                <p class="lotext"><span class="number">LO 8.13</span> What are the typical patterns of marriage and divorce in middle adulthood?</p>
            </li>
            <li class="objective">
                <p class="lotext"><span class="number">LO 8.14</span> What changing family situations do middle-aged adults face?</p>
            </li>
            <li class="objective">
                <p class="lotext"><span class="number">LO 8.15</span> What are the causes and characteristics of family violence in the United States?</p>
            </li>
        </ol>
    </section>
    <aside class="ls_audio">
		{{#audio}}
			{{> ui-kit-text-icon }}
		{{/audio}}

		<div class="player-container-wrapper" style="display:none">
            <div class="player-container">
                <audio id="player-1" src="https://mediaplayer.pearsoncmg.com/assets/_pmd.true/feldman_0133814912_feldman_08_16?mimeType=mp3" controls="controls">
                    <p>Your browser doesn't support HTML5 audio</p>
                </audio>
            </div>
        </div>
    </aside>
    <section class="level2">
        <aside class="vignette">
            <p>For Kathy and Bob, going to their son Jon’s college orientation was a shockingly new experience in the life of their family. It hadn’t really registered that he would be leaving home when he was accepted at a college on the other side of the country. It didn’t hit them just how much this would change their family until they said good-bye and left him on his new campus. It was a wrenching experience. Kathy and Bob worried about their son in the ways that parents always do, but they also felt a profound loss—their job of raising their son, basically, was done. Now he was largely on his own. This thought filled them with pride and anticipation for his future, but with great sadness, too. They would miss him.</p>
        </aside>
        <p>For members of many non-Western cultures who live in extended families in which multiple generations spend their lives in the same household or village, middle adulthood is nothing special. But in Western cultures, family dynamics change significantly in midlife. For most parents, there are major shifts in their relationships with their children, and with other family  members as well. It is a period of changing roles that, in twenty-first-century Western  cultures, encompasses an increasing number of combinations and permutations. We’ll start by looking at how marriage develops and changes over this period, and then consider some of the many alternative forms of family life today (Kaslow, 2001).</p>
        <header>
            <h1 class="title">Marriage</h1>
        </header>
        <p>Fifty years ago, midlife was similar for most people. Men and women, married since early adulthood, were still married to each other. One hundred years ago, when life expectancy was much shorter, people in their 40s were usually married—but not necessarily to the persons they had first married. Spouses often died; people might be well into their second marriage by middle age.</p>
        <p>Today, the story is different and more varied. More people are single at midlife, having never married. Single people may live alone or with a partner. Gay and lesbian adults may have committed relationships even though marriage is often not an option for them. Among heterosexuals, some have divorced, lived alone, and then remarried. Many people’s marriages end in divorce, and many families “blend” together into new households, containing children and stepchildren from previous marriages. Some couples still spend 40 to 50 years together, the bulk of those years during middle adulthood. Many experience the peak of marital satisfaction during middle age.</p>
        <p><span class="leadin">The Ups and Downs of Marriage.</span> Even happily married couples have their ups and downs, with satisfaction rising and falling over the course of the marriage. In the past, most research has suggested that marital satisfaction follows the U-shaped configuration shown in <a class="xref" href="#figure8-7"><span class="label">Figure</span> <span class="number"> 8-7</span></a> (Figley, 1973). Specifically, marital satisfaction begins to decline just after the marriage, falling until it reaches its lowest point following the births of the couple’s children. At that point, satisfaction begins to grow, eventually returning to the same level as before the marriage (Harvey &amp; Weber, 2002; Gorchoff, John, &amp; Helson, 2008; Medina, Lederhos, &amp; Lillis, 2009).</p>
        <figure id="figure8-7">
            <header>
                <h1 class="title">
                    <span class="label">Figure</span>
                    <span class="number"> 8-7</span>
                </h1>
                <p class="subtitle">The Phases of Marital Satisfaction</p>
            </header>
            <div class="lc_ec_img-only">
                <img src="{{path}}/images/epub/AAFDHQS0.png" class="image_3" alt="A line graph depicts the levels of “Marital Satisfaction” at different stages." />
            </div>
            <figcaption>
                <div class="caption">
                    <p>For many couples, marital satisfaction falls and rises in a U-shaped configuration. It begins to decline after the birth of children but increases when the youngest child leaves home and eventually returns to a level of satisfaction similar to that at the start of marriage. Why do you think this pattern of satisfaction occurs?</p>
                </div>
                <div class="source">
                    <p>
                        <span class="emphasis">Source</span>: Based on Rollins &amp; Cannon, 1974.
                    </p>
                </div>
            </figcaption>
        </figure>
        <p>On the other hand, newer research has called the U-shaped pattern into question. This research suggests that marital satisfaction actually continues to decline across the life span (Umberson et al., 2006; Liu, Elliott, &amp; Umberson, 2010).</p>
        <p>We don’t know enough to reject the U-shaped view of marital satisfaction, and it may be that personality differences account for the discrepancy in findings. What is clear is that middle-aged couples cite several sources of marital satisfaction. For instance, both men and women typically state that their spouse is “their best friend” and that they like their spouses as people. They also view marriage as a long-term commitment and agree on their aims and goals. Finally, most also feel that their spouses have grown more interesting over the course of the marriage (Schmitt, Kliegel, &amp; Shapiro, 2007; Landis et al., 2013).</p>
        <p>Sexual satisfaction is related to general marital satisfaction. What matters is not how often couples have sex. Instead, satisfaction is related to <span class="emphasis">agreeing</span> about their sex lives (Spence 1997; Litzinger &amp; Gordon, 2005; Butzer &amp; Campbell, 2008).</p>
        <p>Are there “secrets” to successful marriages? Not really. However, there are proven coping mechanisms that allow couples to remain together happily. Among them (Orbuch, 2009;  Bernstein, 2010):</p>
        <ul>
            <li>
                <p><span class="strong">Holding realistic expectations.</span> Successful couples understand that there are some things about your partner that you may not like all that much. They accept that their partner will do things that they don’t like some of the time.</p>
            </li>
            <li>
                <p><span class="strong">Focusing on the positive.</span> Thinking about the things that they like about their partner helps them to accept the things that bother them.</p>
            </li>
            <li>
                <p><span class="strong">Compromising.</span> Partners in successful marriages understand that they are not going to win every argument, and they don’t keep score.</p>
            </li>
            <li>
                <p><span class="strong">Avoiding suffering in silence.</span> If something does bother them, they let their partner know about it. But they don’t bring it up in an accusatory way. Instead, they talk about it at a time when they are both calm.</p>
            </li>
        </ul>
        <header>
            <h1 class="title">Divorce</h1>
        </header>
        <aside class="vignette">
            <p>Louise knew after a year that the marriage was doomed. Tom never listened to a word she said, never asked her how her day had been, and never lifted a hand to help around the house. He was completely self-centered and seemingly unaware of existence. Still, it took 23 years before she got up the nerve to tell him she wanted a divorce. His response was casual: “Do what you want. Makes no difference to me.” After her initial relief that there would be no resistance, she felt betrayed and foolish. All the anguish, all the trying to make a go of it, all the pain of a bad marriage—and they both knew all along that there was no point. “Why did we never face facts?” she wondered.</p>
        </aside>
        <p>Divorce among midlife couples is actually rising, despite a decline in divorces overall in recent decades. One in eight women who is in her first marriage will get divorced after the age of 40 (see  <a class="xref" href="#figure8-8"><span class="label">Figure</span> <span class="number"> 8-8</span></a>) (Enright, 2004; Brown &amp; Lin, 2012; Thomas, 2012).</p>
        <figure id="figure8-8">
            <header>
                <h1 class="title">
                    <span class="label">Figure</span>
                    <span class="number"> 8-8</span>
                </h1>
                <p class="subtitle">Rising Divorces in Middle Adulthood</p>
            </header>
            <div class="lc_ec_img-only">
                <img src="{{path}}/images/epub/AAKYOUN0.png" class="image_4" alt="A line graph shows the divorce rate among those aged 50+ and the overall divorce rate in the United States." />
            </div>
            <figcaption>
                <div class="caption">
                    <p>Both the divorce rate and the number of people that experience divorce in those 50 years and above have risen significantly, and the increases are projected to continue in the future.</p>
                </div>
                <div class="source">
                    <p><span class="emphasis">Source</span>: Brown &amp; Lin, 2012, Figure 1.</p>
                </div>
            </figcaption>
        </figure>
        <p>There are many reasons why marriages unravel. One is that people spend less time together in middle adulthood than in earlier years. In individualistic Western cultures, people are concerned with their personal happiness. If their marriage is not satisfying, they feel that divorce may increase their happiness. Divorce is also more socially acceptable than in the past, and there are fewer legal impediments to it. In some cases—but certainly not all—the financial costs are not high. And, as the opportunities for women grow, wives may feel less dependent on their husbands, both emotionally and economically (Wallerstein, Lewis, &amp; Blakeslee, 2000; Amato &amp; Previti, 2003; Fincham, 2003; Brown &amp; Lin, 2012).</p>
        <p>Another reason for divorce is that romantic, passionate feelings may fade over time. Because Western culture emphasizes the importance of romance and passion, members of marriages in which passion has declined may feel that that is a sufficient reason to divorce. In some marriages, it is a lack of excitement and boredom that leads to marital dissatisfaction. Finally, there is a great deal of stress in households in which both parents work, and this stress puts a strain on marriages. Much of the energy directed toward families and maintaining relationships in the past is now directed toward work and other institutions outside the home (Macionis, 2001; Tsapelas, Aron, &amp; Orbuch, 2009).</p>
        <p>Finally, some marriages end because of <span class="emphasis">infidelity</span>, in which a spouse engages in sexual activity with a person outside of the marriage. Although statistics are highly suspect—if you lie to your spouse, why would you be honest to a pollster?—one survey found that 20 percent of men and 15 percent of women under the age of 35 say they have been unfaithful. In a given year, about 12 percent of men and 7 percent of women say they have had sex outside their marriage (Atkins &amp; Furrow, 2008).</p>
        <p>Whatever the causes, divorce can be especially difficult in midlife. It can be particularly hard for women who have played the traditional role of mother and never performed substantial work outside the home. They may face age discrimination, finding younger people are preferred, even in jobs with minimal requirements. Without a good deal of training and support, these divorced women, lacking recognized job skills, may remain virtually unemployable (McDaniel &amp; Coleman, 2003; Williams &amp; Dunne-Bryant, 2006; Hilton &amp; Anderson, 2009).</p>
        <p>Many people who divorce in midlife, though, end up happy. Women, in particular, are apt to find that developing a new, independent self-identity is a positive outcome. Both men and women who divorce in midlife are also likely to form new relationships, and they typically remarry (Enright, 2004).</p>
        <p><span class="leadin">Remarriage.</span> Many people who divorce—some 75 to 80 percent—end up marrying again, usually within 2 to 5 years. They are likely to marry people who are also divorced, partly because they tend to be available, but also because divorced people share a similar experience (McCarthy &amp; Ginsberg, 2007).</p>
        <p>Although the rate of remarriage is high, it is far higher in some groups than in others. For instance, it is harder for women to remarry than men, particularly older women. Whereas 90 percent of women under age 25 remarry after divorce, less than one-third of women over age 40 remarry (Bumpass, Sweet, &amp; Martin, 1990; Besharov &amp; West, 2002).</p>
        <p>This age difference stems from the <span class="emphasis">marriage gradient</span> we discussed earlier: Societal norms push men to marry women who are younger, smaller, and lower in status than themselves. The older a woman is, the fewer socially acceptable men she has available to her because those men her age are likely to be looking for younger women. As we discussed earlier, women are also disadvantaged by double standards regarding physical attractiveness. Older women may be perceived as unattractive, while older men may be seen as “distinguished” and “mature” (Bernard, 1982; Buss, 2003; Doyle, 2004b).</p>
        <p>There are several reasons marrying again may be more appealing than remaining single. A person who remarries avoids the social consequences of divorce. Even in the twenty-first century, when divorce is common, it carries with it a certain stigma. In addition, divorced people overall report less satisfaction with life than married people (Lucas, 2005).</p>
        <p>Divorced people miss the companionship that marriage provides. Men in ­particular report feeling lonely and experience more physical and mental health problems following divorce. Marriage also provides clear economic benefits, such as sharing the cost of a house and medical benefits reserved for spouses (Ross, Microwsky, &amp; Goldsteen, 1991; Stewart  et al., 1997).</p>
        <p>Second marriages differ from first marriages. Older couples tend to be more mature and realistic in their expectations. They often view marriage in less romantic terms than younger couples, and they are more cautious. They are also likely to be more flexible about roles and duties; they share household chores and decision making more equitably (Mirecki et al., 2013).</p>
        <figure class="informalfigure">
            <img src="{{path}}/images/epub/AAKYOUK0.jpg" alt="Photo shows a middle-age bride and groom." />
            <figcaption>
                <div class="caption">
                    <p>Around three-quarters of people who divorce remarry again, usually within two to five years.</p>
                </div>
            </figcaption>
        </figure>
        <p>Unfortunately, this doesn’t guarantee second marriages will last. The divorce rate is slightly higher than for first marriages. One factor that explains this is that second marriages may include stresses not present in first marriages, such as the blending of different families. Another reason is that having experienced and survived one divorce, partners may be less committed and more ready to walk away from an unhappy second marriage.  Finally, they may have personality and emotional characteristics that don’t make them easy to live with (Cherlin, 1993; Warshak, 2000; Coleman, Ganong, &amp; Weaver, 2001).</p>
        <p>Despite the high divorce rate for second marriages, many people remarry quite successfully. In such cases, couples report as great a degree of satisfaction as those who are in successful first marriages (Bird &amp; Melville, 1994; Michaels, 2006).</p>
        <header id="emptynest">
            <h1 class="title">Family Evolutions: From Full House to Empty Nest</h1>
        </header>
        <p>For many parents, a major midlife transition is the departure of children who are going to college, getting married, joining the military, or taking a job far from home. Even people who become parents at relatively late ages are likely to face this transition, because the middle adulthood spans nearly a quarter century. As we saw in Kathy and Bob’s story, a child’s departure can be wrenching—so much so, in fact, that it has been labeled the “empty nest syndrome.” The <a href="glossary.xhtml#key-emptynestsyndrome" target="_blank"><dfn title="emptynestsyndrome" class="keyword" data-original-title="emptynestsyndrome"><span class="selection_index"></span>empty nest syndrome</dfn></a> refers to the unhappiness, worry, loneliness, and depression some parents feel when their children leave home (Lauer &amp; Lauer, 1999; Erickson, Martinengo, &amp; Hill, 2010).</p>
        <p>Many parents report that major adjustments are required. For women who were stay-at-home mothers, the loss can be very difficult. Traditional homemakers, who focus significant time and energy on their children, face a challenging time.</p>
        <p>While the loss can be difficult, parents also find that some aspects of this transition are quite positive. Even mothers who have stayed at home find they have time for other interests, such as community or recreational activities, when the children leave. They may also enjoy the opportunity to get a job or return to school. Finally, many women find that motherhood is not easy; surveys show that most people regard motherhood as harder than it used to be. Such women may now feel liberated from a difficult set of responsibilities (Heubusch, 1997; Morfei et al., 2004; Chen, Yang, &amp; Aagard, 2012).</p>
        <p>Though feelings of loss are common for most people, there is little, if any, evidence that the departure of children produces anything more than temporary feelings of sadness and distress. This is especially true for women who have worked outside the home (Antonucci, 2001; Crowley, Hayslip, &amp; Hobdy, 2003).</p>
        <p>In fact, there are discernible benefits when children leave home. Spouses have more time for one another. Married or unmarried people can attend to their own work without having to worry about helping the kids with homework, carpools, and the like. The house stays neater, and the telephone rings less often (Gorchoff, John, &amp; Helson, 2008).</p>
        <p>Most research on the so-called empty nest syndrome has focused on women. Men, traditionally not as involved in childrearing, were assumed to weather the transition more smoothly. However, some research suggest that men also experience feelings of loss when their children depart, although these feelings may differ from those felt by women.</p>
        <p>One survey found that although most fathers felt either happy or neutral about the departure of their children, almost a quarter felt unhappy (Lewis, Freneau, &amp; Roberts, 1979). Those fathers tended to mention lost opportunities, regretting things they had not done with their children. Some felt they had been too busy for their children or hadn’t been sufficiently nurturing or caring.</p>
        <p>Some parents react to the departure of their children by becoming what have become known as <span class="emphasis">helicopter parents</span>, parents who intrusively intervene in their children’s lives. Helicopter parenting first became apparent when parents micro-managed their children’s college careers, complaining to instructors and administrators about poor grades that their children received or seeking to get them into certain classes. In some cases, the phenomenon extends to the workplace; some employers complain that parents call human relations departments to extoll the virtues of their children as potential employees.</p>
        <p>Although statistics about the prevalence of helicopter parenting are hard to come by, it is clear that the phenomenon is real. One survey of 799 employers found that nearly one-third said that parents had submitted resumes for their child, sometimes not even informing their son or daughter. One-quarter said that parents had contacted them, urging them to hire their son or daughter. And 4 percent said that a parent had accompanied the child on a job interview. Some parents even help their children complete work assignments once they get a job (Gardner, 2007; Ludden, 2012)</p>
        <p>In most cases, though, parents permit their children to develop independently once they leave home. On the other hand, children may not always leave home for good, and the empty nest sometimes becomes replenished with what have been called “boomerang children,” as we discuss next.</p>
        <header>
            <h1 class="title">Boomerang Children: Refilling the Empty Nest</h1>
        </header>
        <aside class="vignette">
            <p>Carole Olis doesn’t know what to make of her 23-year-old son, Rob. He has been living at home since his graduation from college more than 2 years ago. Her six older children returned to the nest for just a few months and then bolted.</p>
            <p>“I ask him, ‘Why don’t you move out with your friends?’ ” says Mrs. Olis. Rob has a ready answer: “They all live at home, too.”</p>
        </aside>
        <p>Carole Olis is not alone in being surprised by the return of her son. In the United States, a significant number of young adults are coming back to live with their middle-aged parents.</p>
        <p>Known as <a href="glossary.xhtml#key-boomerangchildren" target="_blank"><dfn title="boomerangchildren" class="keyword" data-original-title="boomerangchildren"><span class="selection_index"></span>boomerang children</dfn></a>, these returning offspring typically cite economic issues as the main reason for coming back home. Because of a difficult economy, many young adults cannot find jobs after college, or the positions they do find pay so little that they have difficulty making ends meet. Others return home after the breakup of a marriage. Overall, close to one-third of young adults ages 25 to 34 are living with their parents. In some European countries, the proportion is even higher (Roberts, 2009; Parker, 2012).</p>
        <p>Because about half of boomerang children pay rent to their parents,  parental finances may benefit. The arrangement doesn’t seem to effect social relationships within the family: half say it makes no difference or is a plus. Only a quarter of boomerang children find the arrangement has been bad for their relationship with their parents (Parker, 2012) (see <a class="xref" href="#figure8-9"><span class="label">Figure</span> <span class="number"> 8-9</span></a>).</p>
        <figure id="figure8-9">
            <header>
                <h1 class="title">
                    <span class="label">Figure</span>
                    <span class="number"> 8-9</span>
                </h1>
                <p class="subtitle">More Boomerang Children, Enjoying it Less</p>
            </header>
            <div class="lc_ec_img-only">
                <img src="{{path}}/images/epub/AAKYOUO0.png" class="image_3" alt="A bar graph shows the level of difference felt by boomerang children in their relationship with their parents." />
            </div>
            <figcaption>
                <div class="caption">
                    <p>The percentage of those saying that living with their parents at this stage of life has been bad, good, or no different in terms of their relationship.</p>
                </div>
                <div class="source">
                    <p><span class="emphasis">Source</span>: Pew Research Center, 2012.</p>
                </div>
            </figcaption>
        </figure>
        <p><span class="leadin">The Sandwich Generation: Between Children and Parents.</span> At the same time children are leaving the nest, or returning as boomerang children, many middle-aged adults face another challenge: the care of their own aging parents. The term <a href="glossary.xhtml#key-sandwichgeneration" target="_blank"><dfn title="sandwichgeneration" class="keyword" data-original-title="sandwichgeneration"><span class="selection_index"></span>sandwich generation</dfn></a> refers to these middle adults who are squeezed between the needs of their children and their parents (Riley &amp; Bowen, 2005; Grundy &amp; Henretta, 2006; Chassin et al., 2009).</p>
        <p>The sandwich generation is a relatively new phenomenon, produced by several converging trends. First, people are marrying later and having children at an older age. At the same time, people are living longer. Thus, it is not unlikely that midlife adults will have parents  who are alive and require care while they still have children who need a significant amount of nurturing.</p>
        <p>The care of aging parents can be psychologically tricky. There is a degree of role reversal, with children becoming more parental and parents becoming more dependent. As we’ll discuss later, elderly people, used to being independent, may resent and resist their children’s help. They do not want to be burdens. Almost all elderly people who live alone say they do not wish to live with their children (CFCEPLA, 1986; Merrill, 1997).</p>
        <p>Middle-aged adults provide a range of care for their parents. They may provide financial support to supplement a parent’s meager pension. They might also help manage a household, doing tasks such as removing storm windows in the spring or shoveling snow in the winter.</p>
        <p>In some cases, elderly parents may be invited to live in their child’s home. Census data reveal that multigenerational households—three or more generations—are the fastest growing of all household arrangements. Increasing by more than a third between 1990 and 2000, they represent 4 percent of all households (Navarro, 2006).</p>
        <p>Multigenerational families present a tricky situation, as roles are renegotiated. Typically, the adult children—who are no longer children—are in charge of the household. Both they and their parents must make adjustments and find some common ground in making decisions. Elderly parents may find their new dependence difficult, and this can be wrenching for their adult child as well. The youngest generation may resist, including the oldest generation.</p>
        <figure class="informalfigure">
            <img src="{{path}}/images/epub/AAIEWBO0.jpg" alt="Cartoon shows two middle-aged women looking at a teenager and an older woman sitting on a couch. One of the women says, “I’m in the sandwich generation – my parents don’t approve of me and my kids hate me.”" class="image_2"/>
            <figcaption>
                <div class="source">
                    <p>Barbara Smaller/The New Yorker Collection/www.cartoonbank.com</p>
                </div>
            </figcaption>
        </figure>
        <p>In many cases, the burden of care is not shared equally, with the larger share most often assumed by women. Even when both husband and wife are in the labor force, women tend to be more involved in the day-to-day care, even when the parent or parents are their in-laws (Soldo, 1996; Putney &amp; Bengtson, 2001).</p>
        <p>Culture also influences how caregivers view their roles. Members of Asian cultures, which are more collectivistic, are more likely to view caregiving as a traditional and ordinary duty. In contrast, members of more individualistic cultures may feel familial ties are less central, and caring for the older generation may be seen as a burden (Ho et al., 2003; Kim &amp; Lee, 2003).</p>
        <p>Despite the burden of being sandwiched in between two generations, which can stretch the caregiving child’s resources, there are significant rewards. The psychological attachment between middle-aged children and their elderly parents can continue to grow. Both sides can see each other more realistically. They may grow closer, more accepting of each other’s weaknesses and more appreciative of each other’s strengths (Vincent, Phillipson, &amp; Downs, 2006).</p>
        <header>
            <h1 class="title">Becoming a Grandparent: Who, Me?</h1>
        </header>
        <p>When her eldest son and daughter-in-law had their first child, Leah couldn’t believe it. At age 54, she was a grandmother! She kept telling herself she felt far too young to be anybody’s grandparent.</p>
        <p>Middle adulthood often brings one of the unmistakable symbols of aging: becoming a grandparent. For some people, the new role has been eagerly awaited. They may miss the energy and excitement and even demands of young children, and they may see grandparenthood as the next stage in the natural progression of life. Others are less pleased with the prospect, seeing it as a clear signpost of aging.</p>
        <p>Grandparenting tends to fall into different styles. <span class="emphasis">Involved</span> grandparents are actively engaged in and have influence over their grandchildren’s lives. They hold clear expectations about the ways their grandchildren should behave. A retired grandparent who takes care of a grandchild while his or her parents work is an example of an involved grandparent (Mueller, Wilhelm, &amp; Elder, 2002; Fergusson, Maughan, &amp; Golding, 2008; Mansson, 2013).</p>
        <p>In contrast, <span class="emphasis">companionate</span> grandparents are more relaxed. Rather than taking responsibility for their grandchildren, they act as supporters and buddies to them. Grandparents who visit and call frequently, and perhaps occasionally take their grandchildren on vacations or invite them to visit without their parents, are companionate grandparents.</p>
        <p>Finally, the most aloof type of grandparents are <span class="emphasis">remote</span>. They are detached and distant, showing little interest in their grandchildren. Remote grandparents, for example, would rarely make visits to see their grandchildren and might complain about their childish behavior when they did see them.</p>
        <p>There are marked gender differences in the extent to which people enjoy grandparenthood. Generally, grandmothers are more interested and experience greater satisfaction than grandfathers, particularly when they have a high level of interaction with younger grandchildren (Smith, 1995; Smith &amp; Drew, 2002).</p>
        <p>African American grandparents are more apt to be involved than white grandparents. The most reasonable explanation for this is the greater prevalence of multigenerational households among African Americans than among Caucasians. In addition, African American families are more likely to be headed by single parents. Thus, they often rely substantially on the help of grandparents in everyday child care, and cultural norms tend to be highly supportive of grandparents taking an active role (Stevenson, Henderson, &amp; Baugh, 2007; Keene, Prokos, &amp; Held, 2012; Bertera &amp; Crewe, 2013).</p>
        <header>
            <h1 class="title">Family Violence: The Hidden Epidemic</h1>
        </header>
        <p>Domestic violence is epidemic in the United States, occurring in one-fourth of all marriages. More than half the women who were murdered in one recent 10-year period were murdered by a partner. Between 21 percent and 34 percent of women will be slapped, kicked, beaten, choked, or threatened or attacked with a weapon at least once by an intimate partner. In fact, continuing, severe violence characterizes close to 15 percent of all marriages in the United States. In addition, many women are victims of psychological abuse, such as verbal or emotional abuse. Domestic violence is also a worldwide problem. Estimates suggest that one in three women around the globe experience violent victimization during their lives (Walker, 1999; Garcia-Moreno et al., 2005).</p>
        <p>In the United States, no segment of society is immune from spousal abuse. Violence occurs across social strata, races, ethnic groups, and religions. Both gay and straight partnerships can be abusive. It also occurs across genders: Although in most instances, the husband is the abuser, in about 8 percent of the cases wives physically abuse their husbands (Harway, 2000; Cameron, 2003; Dixon &amp; Browne, 2003).</p>
        <p>Certain factors increase the likelihood of abuse. Spousal abuse is more apt to occur in large families for whom both financial strain and verbal aggression are common. Those husbands and wives who grew up in families where violence was present are also more likely to be violent themselves (Straus &amp; Yodanis, 1996; Ehrensaft, Cohen, &amp; Brown, 2003; Lackey, 2003).</p>
        <figure class="informalfigure">
            <img src="{{path}}/images/epub/AAJZBLT0.jpg" alt="Photo shows a man raising his fist to his wife and daughter." />
            <figcaption>
                <div class="caption">
                    <p>Parents who abuse their own spouses and children were often victims of abuse themselves as children, reflecting a cycle of violence.</p>
                </div>
            </figcaption>
        </figure>
        <p>The factors that put a family at risk are similar to those associated with child abuse, another form of family violence. Child abuse occurs most frequently in stressful environments, at lower socioeconomic levels, in single-parent families, and in situations of intense marital conflict. Families with four or more children have higher abuse rates, and those with incomes under $15,000 a year have seven times the rate of families with higher incomes. But not all types of abuse are higher in poorer families: Incest is more likely to occur in affluent families (APA, 1996; Cox, Kotch, &amp; Everson, 2003).</p>
        <p>Marital aggression by a husband typically occurs in three stages (Walker, 1999) (see <a class="xref" href="#figure8-10"><span class="label">Figure</span> <span class="number">8-10</span></a>). In the initial <span class="emphasis">tension-building</span> stage, a batterer becomes upset and shows dissatisfaction through verbal abuse. He may also use some physical aggression, such as shoving or grabbing. The wife may desperately try to avoid the impending violence, attempting to calm her spouse or withdraw from the situation. Such behavior may only enrage the husband, who senses his wife’s vulnerability. Her efforts to escape may escalate his anger.</p>
        <figure id="figure8-10">
            <header>
                <h1 class="title">
                    <span class="label">Figure</span>
                    <span class="number">8-10</span>
                </h1>
                <p class="subtitle">The Stages of Violence</p>
            </header>
            <div class="lc_ec_img-only">
                <img src="{{path}}/images/epub/ch8_figure8-10.png" class="image_1" alt="An illustration shows the cycle of violence. The three stages shown are “Tension builds” leading to “Acute battering incident” leading to “Loving Contrition,” which again leads to “Tension builds.”" />
            </div>
            <figcaption>
                <div class="source">
                    <p>(<span class="emphasis">Source</span>: Adapted from Walker, 1979, 1984; Gondolf, 1985.)</p>
                </div>
            </figcaption>
        </figure>
        <p>In the next stage—an <span class="emphasis">acute battering incident—</span>the physical abuse actually occurs, lasting from several minutes to hours. Wives may be shoved against walls, choked, slapped, punched, kicked, and stepped on. Their arms may be twisted or broken, they may be shaken severely, thrown down a flight of stairs, or burned with cigarettes or scalding liquids. About a quarter of wives are forced to engage in sexual activity, which takes the form of aggressive sexual acts and rape.</p>
        <p>Finally, in some—but not all—cases, the episode ends with the <span class="emphasis"> loving contrition</span> stage. At this point, the husband feels remorse and apologizes for his actions. He may provide first aid and sympathy, assuring his wife that he will never act violently again. Because wives may feel they were somehow partly at fault, they may accept the apology and forgive their husbands. They want to believe that the aggression will never occur again.</p>
        <p>The loving contrition stage helps explain why many wives remain with abusive husbands and continue to be victims. Wishing desperately to keep their marriages intact, and believing that they have no good alternatives, some wives remain out of a vague sense that they are responsible for the abuse. In other cases, wives fear their husbands may come after them if they leave.</p>
        <p><span class="leadin">The Cycle of Violence.</span> Still other wives stay with batterers because they, like their husbands, learned in childhood that violence is an acceptable means of settling disputes.</p>
        <p>Individuals who abuse their spouses and children were often the victims of abuse themselves. According to the <a href="glossary.xhtml#key-cycleofviolencehypothesis" target="_blank"><dfn title="cycleofviolencehypothesis" class="keyword" data-original-title="cycleofviolencehypothesis"><span class="selection_index"></span>cycle of violence hypothesis</dfn></a>, abuse and neglect of children predisposes them to abusiveness as adults. In line with social learning theory, the cycle of violence hypothesis suggests that family aggression is perpetuated from one generation to another. It is a fact that individuals who abuse their wives often witnessed spousal abuse at home as children, just as parents who abuse their children frequently were the victims of abuse as children (Serbin &amp; Karp, 2004; Renner &amp; Slack, 2006; Whiting et al., 2009).</p>
        <aside class="marginalia marginalia_1">
            <p><span class="leadin">From the perspective of a health care provider:</span>What can be done to end the cycle of violence, in which people who were abused as children grow up to be abusers of others?</p>
        </aside>
        <p>Growing up in an abusive home does not invariably lead to abusiveness as an adult. Only about one-third of people who were abused or neglected as children abuse their own children  as adults, and two-thirds of abusers were not themselves abused as children. The cycle of violence, then, does not tell the full story of abuse (Jacobson &amp; Gottman, 1998).</p>
        <p>Whatever the causes of abuse, there are ways to deal with it, as we consider next.</p>
        <aside class="vignette">
            <p><span class="leadin">Spousal Abuse and Society: The Cultural Roots of Violence.</span> After Dong Lu Chen beat his wife to death, he was sentenced to 5 years’ probation. He had confessed to the act but claimed that his wife had been unfaithful to him. His lawyer (and an anthropologist) had argued in court that traditional Chinese values might have led to his violent reaction to his wife’s purported infidelity.</p>
            <p>After Lee Fong, a Laotian immigrant, had abducted a 16-year-old girl, he was acquitted of kidnapping, sexual assault, and menacing. During his trial, his lawyer argued that “bride stealing” is a traditional custom among the Hmong people of Laos.</p>
            <p>Both cases were decided in courts in the United States. In both cases, lawyers based their arguments on the claim that in the Asian countries from which the defendants had emigrated, the use of violence against women was common and may even have received social approval. The juries obviously agreed with this “cultural defense” justification. (Findlen, 1990)</p>
        </aside>
        <p>Although marital violence and aggression is often seen as a particularly North American phenomenon, other cultures have traditions that regard violence as acceptable (Rao, 1997). Wife battering is especially prevalent in cultures that view women as inferior to men and treat them as property.</p>
        <p>In Western societies, too, wife beating was once acceptable. According to English common law—the foundation of the legal system in the United States—husbands could beat their wives. In the 1800s, this law was modified to permit only certain kinds of beating. Specifically, a husband could not beat his wife with a stick or rod that was thicker than his thumb—the origin of the phrase “rule of thumb.” It was not until the late nineteenth century that this law was removed from the books in the United States (Davidson, 1977).</p>
        <p>Some experts on abuse suggest that its root cause is the traditional power structure in which women and men function. They argue that the more a society differentiates between men’s and women’s status, the more likely it is that abuse will occur.</p>
        <p>They cite research examining the legal, political, educational, and economic roles of women and men. For example, some research has compared battering statistics across the various states in the United States. Abuse is more likely to occur in states where women are of particularly low or high status compared with women in other states. Apparently, relatively low status makes women easy targets of violence, while unusually high status may make husbands feel threatened and thus more likely to behave abusively (Dutton, 1994; Vandello &amp; Cohen, 2003).</p>
        <aside class="sidebar">
            <header>
                <h1 class="title">Becoming an Informed Consumer of Development</h1>
            </header>
            <section class="level2">
                <header>
                    <h1 class="title">Dealing With Spousal Abuse</h1>
                </header>
                <p>Spousal abuse occurs in some 25 percent of all marriages, but efforts to deal with victims of abuse are underfunded and inadequate to meet current needs. In fact, some psychologists argue that the same factors that led society to underestimate the magnitude of the problem for many years now hinder the development of effective interventions. Still, there are several measures to help the victims of spousal abuse (Browne, 1993; Koss et al., 1993):</p>
                <ul>
                    <li>
                        <p><span class="strong">Teach both wives and husbands a basic premise:</span> Violence is never, under any circumstances, an acceptable means of resolving disagreements.</p>
                    </li>
                    <li>
                        <p><span class="strong">Call the police.</span> Assault, including spousal assault, is against the law. It may be difficult to involve law enforcement officers, but this is a realistic way of handling the problem. Judges can also issue restraining orders requiring abusive husbands to stay away from their wives.</p>
                    </li>
                    <li>
                        <p><span class="strong">Understand that the remorse shown by a spouse, no matter how heartfelt, may have no bearing on possible future violence.</span> Even if a husband shows loving regret and vows that he will never be violent again, such a promise is no guarantee against future abuse.</p>
                    </li>
                    <li>
                        <p><span class="strong">If you are the victim of abuse, seek a safe haven.</span> Many communities have shelters for the victims of domestic violence that can house women and their children. Because addresses of shelters are kept confidential, an abusive spouse will not be able to find you. Telephone numbers are listed in the yellow or blue pages of phone books, and local police should also have the numbers.</p>
                    </li>
                    <li>
                        <p><span class="strong">If you feel in danger from an abusive partner, seek a restraining order</span> from a judge in court. A restraining order forbids a spouse to come near you, under penalty of law.</p>
                    </li>
                    <li>
                        <p><span class="strong">Call the National Domestic Violence Hotline at 1-800-799-7233</span> for immediate advice.</p>
                    </li>
                </ul>
            </section>
        </aside>
    </section>
    <header>
        <h1 class="title title_1">Review and Apply</h1>
    </header>
    <section class="level2">
        <header>
            <h1 class="title">Review</h1>
        </header>
        <section class="objectiveset">
            <ol class="objectivelist dynamiclist">
                <li class="objective">
                    <p class="lotext"><span class="number">LO 8.13</span>What are the typical patterns of marriage and divorce in middle adulthood?</p>
                </li>
            </ol>
        </section>
        <ul>
            <li>
                <p>Marital satisfaction rises and falls over the course of marriage, generally following a U-shaped configuration over the years.</p>
            </li>
            <li>
                <p>Marital satisfaction tends to be highest when both partners feel that their spouse is “their best friend,” when they like their spouses as people, when they agree on aims and goals, and when they view marriage as a long-term commitment. In happy marriages, most people also feel that their spouses have grown more interesting over the years.</p>
            </li>
            <li>
                <p>There are many reasons why marriages end in divorce, including lack of satisfaction, less time spent together, and infidelity. Divorce may increase happiness, and the process of divorce is more socially acceptable.</p>
            </li>
        </ul>
        <section class="objectiveset">
            <ol class="objectivelist dynamiclist">
                <li class="objective">
                    <p class="lotext"><span class="number">LO 8.14</span>What changing family situations do middleaged adults face?</p>
                </li>
            </ol>
        </section>
        <ul>
            <li>
                <p>Family changes in middle adulthood include the departure of children. In recent years, the phenomenon of “boomerang children” has emerged.</p>
            </li>
            <li>
                <p>Middle-aged adults often have increasing responsibilities for their aging parents.</p>
            </li>
        </ul>
        <section class="objectiveset">
            <ol class="objectivelist dynamiclist">
                <li class="objective">
                    <p class="lotext"><span class="number">LO 8.15</span>What are the causes and characteristics of family violence in the United States?</p>
                </li>
            </ol>
        </section>
        <ul>
            <li>
                <p>Abuse is more likely to occur in large families who are experiencing financial strain and for whom verbal aggression is common. Adults who experienced family violence as children are also more likely to be violent themselves.</p>
            </li>
            <li>
                <p>Marital violence tends to pass through three stages: tension building, an acute battering incident, and loving contrition.</p>
            </li>
        </ul>
    </section>
    <section class="level2">
        <header>
            <h1 class="title">Applying Lifespan Development</h1>
        </header>
        <ul>
            <li>
                <p>Are the phenomena of the empty nest, boomerang children, the sandwich generation, and grandparenting culturally dependent? Why might such phenomena be different in societies where multigenerational families are the norm?</p>
            </li>
        </ul>
		<aside class="marginalia">
			{{#view}}
				{{> ui-kit-text-icon }}
			{{/view}}
		</aside>
    </section>
</section>