<section class="bodymatter">
	<header>
		<h1 class="title">
			<span class="lable">Module</span>
			<span class="number"> 8.3</span><br/>
			Social and Personality Development in Middle Adulthood
		</h1>
	</header>
	<aside class="ls_audio">
		{{#audio}}
			{{> ui-kit-text-icon }}
		{{/audio}}

		<div class="player-container-wrapper" style="display:none">
			<div class="player-container">
				<audio id="player-1" src="https://mediaplayer.pearsoncmg.com/assets/_pmd.true/feldman_0133814912_feldman_08_13?mimeType=mp3" controls="controls">
					<p>Your browser doesn't support HTML5 audio</p>
				</audio>
			</div>
		</div>
	</aside>
	<aside class="vignette">
		<p>You wouldn’t expect to find a 20-year veteran of Wall Street reading Winnie-the-Pooh to a circle of 4-year-olds. Yet, that’s exactly what Ted Lewis, age 53, does most days in his new career as a Head Start teacher. “I made a good living on the Street,” Lewis says of his days as a stockbroker. “But I missed a lot, too. I never read to my own kids. Never was able to attend teacher-parent conferences or go to school plays.”</p>
		<p>Some Wall Street types, Lewis explains, go sort of crazy. They get caught up in insider trading or cocaine or some Cayman Islands scam. Lewis didn’t go that route. “I just <span class="label">Watch</span>ed as my life slowly unraveled,” he says. “My wife left. My kids grew up, moved away, and stopped returning my calls. Then, I turned 50 and I thought, ‘Life doesn’t get any emptier than this.’”</p>
		<p>Lewis decided to go back to school in a field so foreign to his experience, he told none of his former co-workers: early childhood education. “I guess I was hoping to atone for being such an absent dad. I know I wanted to do something worthwhile,” he says. Lewis loves his work. “I finally discovered what giving is all about,” he explains. “And it’s not about money.” A few months ago, his daughter called and asked if he was really working with little kids. They’ve since had a few lunches together and now she’s invited him to spend a week at the summer cottage she and her husband rent on Nantucket. His son, Lewis says, is taking longer to thaw. “But last week, he asked if I’d like to see a Yankees game. He said it was the thing he most wanted to do with me when he was a kid,” Lewis says. “I cried when we hung up. And you can bet I’m going. Maybe it’s never to late to say ‘sorry’ while you’re still alive.”</p>
	</aside>
	<p>The one-eighty Ted Lewis took when he reached 50 is not unusual: Few lives follow a set, predictable pattern through middle adulthood. In fact, one of the remarkable characteristics of middle age is its variety, as the paths that different people travel continue to diverge. In this module we focus on the personality and social development that occurs in midlife. We begin by examining the changes that typify this period. We also explore some of the controversies in developmental psychologists’ understandings of midlife, including whether the midlife crisis, a phenomenon popularized in the media, is fact or fiction.</p>
	<p>Next we consider the various familial ties that bind people together (or come unglued) in middle adulthood, including marriage, divorce, the empty nest, and grandparenting. We also look at a bleak, but prevalent, side of family relations: family violence.</p>
	<p>Finally, the module examines work and leisure in midlife. We consider the changing role of work in people’s lives and look at work-related problems, such as burnout and unemployment. The module concludes with a discussion of leisure time, which becomes more important during middle age.</p>
</section>