<section class="bodymatter">
	<header>
		<h1 class="title">
			<span class="lable">Module</span>
			<span class="number"> 8.2</span><br/>
			Cognitive Development in Middle Adulthood
		</h1>
	</header>
	<aside class="ls_audio">
		{{#audio}}
			{{> ui-kit-text-icon }}
		{{/audio}}

		<div class="player-container-wrapper" style="display:none">
			<div class="player-container">
				<audio id="player-1" src="https://mediaplayer.pearsoncmg.com/assets/_pmd.true/feldman_0133814912_feldman_08_08?mimeType=mp3" controls="controls">
					<p>Your browser doesn't support HTML5 audio</p>
				</audio>
			</div>
		</div>
	</aside>
	<aside class="vignette">
		<p>Gina Madison has always loved a challenge. That’s why she applied to be a contestant on the game show Jeopardy! “Why should young people have all the fun?” she asks, laughing. I figure at age 46, I know a thing or two.” Jeopardy! requires quick thinking and quick response time. Was Gina worried that despite her world experience and accumulated knowledge, she would be bested by contestants half her age? “Not really,” she says. “My husband and I do cryptic puzzles every morning at breakfast.” Gina also reads a great deal. “I make notes while I read and review them at the end of a book,” she explains. “That way I remember a lot more than just a few main characters and how the plot came out.” She also loves nonfiction—books about science, history, and world events. “Books about brain research are my favorites,” she says. “They’re discovering that you really can teach an ‘old dog’ new tricks.”</p>
	</aside>
	<p>Gina, like many people in midlife, enjoys challenging her mind and keeping it sharp. She feels confident to take on people half her age in a contest of wits and quick response time. She knows she has something that younger contestants do not: decades of life experience and knowledge.</p>
	<p>The second module of the chapter focuses on cognitive development in middle age. We look at the tricky question of whether intelligence declines during the period, and we consider the difficulty of answering the question fully. We also examine memory and how its capabilities change in middle adulthood.</p>
</section>