<section class="bodymatter">
	<header>
		<h1 class="title">Sexuality in Middle Adulthood</h1>
	</header>

	<section class="objectiveset">
		<ol class="objectivelist dynamiclist">
			<li class="objective">
				<p class="lotext"><span class="number">LO 8.2</span>What changes occur in sexuality for midlife men
					and women?</p>
			</li>
			<li class="objective">
				<p class="lotext"><span class="number">LO 8.3</span>Why is there controversy over hormone therapy
					(HT) for women?</p>
			</li>
		</ol>
	</section>

	<aside class="ls_audio">
		{{#audio}}
			{{> ui-kit-text-icon }}
		{{/audio}}

		<div class="player-container-wrapper" style="display:none">
			<div class="player-container">
				<audio id="player-1"
					   src="https://mediaplayer.pearsoncmg.com/assets/_pmd.true/feldman_0133814912_feldman_08_04?mimeType=mp3"
					   controls="controls"><p>Your browser doesn't support HTML5 audio</p></audio>
			</div>
		</div>
	</aside>

	<aside class="vignette">
		<p>At age 51, Elaine was really looking forward to her postmenopausal life. Her youngest child had just left
			home to study art, and she had recently reduced her work schedule to a  comfortable 30 hours a week. She
			envisioned the year to come as an opportunity for a  “second honeymoon” with her husband, Greg, with no
			need for contraceptives or fears of  becoming pregnant.</p>

		<p>Her imagined honeymoon quickly evaporated in a heat wave of hot flashes and night sweats. Though Elaine
			recognized these as normal symptoms of menopause, she was having to change her clothing three or more
			times a day. And she was having more headaches. Her doctor prescribed HT to replace the estrogen she was
			losing through menopause. As she was not a likely candidate for any of the drug’s negative side effects,
			she took her doctor’s recommendation. The HT eased her symptoms and revitalized her spirits. Four months
			later, she and Greg booked a month’s romantic getaway in Greece.</p>
	</aside>
	<section class="level2">

		<figure class="informalfigure">
			<img src="{{path}}/images/epub/AAKYOUB0.jpg"
				 alt="Photo shows a middle-age couple, with the man hugging the woman from behind."
				 class="image_3"/>
			<figcaption>
				<div class="caption">
					<p>Sexuality continues to be a vital part of most couples’ lives in middle adulthood.</p>
				</div>
			</figcaption>
		</figure>

		<p>Although interest in sex remains fairly high for many people in middle adulthood, as Elaine’s story
			illustrates, the physical changes associated with aging, such as menopause for women, can throw a curve
			ball at romance. We will look at some of the factors that affect men’s and women’s sexuality in midlife
			and the roles both attitude and prescription drugs can play in alleviating some of the problems commonly
			associated with this life stage.</p>

		<header id="ongoing">
			<h1 class="title">The Ongoing Sexuality of Middle Age</h1>
		</header>

		<p>The frequency of sexual intercourse declines with age (see <a class="xref" href="#fig8-2"><span
				class="label">Figure</span> <span class="number">8-2</span></a>), but sexual pleasure remains a
			vital part of most middle-aged adults’ lives. About half of men and women age 45 to 59 report having
			sexual intercourse once a week or more. Close to three-quarters of men and more than half of women age
			50 to 59 report masturbating. Half of men age 50 to 59 and a third of women in that age group have
			received oral sex from a different-sex partner in the last year. Similarly, sex remains an important
			activity for gay and lesbian couples during middle adulthood (Herbenick et al., 2010).</p>

		<figure id="fig8-2">
			<header>
				<h1 class="title">
					<span class="label">Figure</span>
					<span class="number">8-2</span>
				</h1>
				<p class="subtitle">Frequency of Sexual Intercourse</p>
			</header>
			<div class="lc_ec_img-only">
				<img src="{{path}}/images/epub/AAFDHQI0.png" class="image_4"
					 alt="A series of pie charts represent the “Frequency of Sexual Intercourse” across different ages for both men and women."/>
			</div>
			<figcaption>
				<div class="caption">
					<p>As people age, the frequency of sexual intercourse declines.</p>
				</div>
				<div class="source">
					<p>
						<span class="emphasis">Source</span>: Based on Michael et al., 1994.</p>
				</div>
			</figcaption>
		</figure>

		<p>For many, midlife brings a sexual enjoyment and freedom that was missing earlier. With their children
			grown and away from home, married couples have more time for uninterrupted sex. Women who have gone
			through menopause no longer fear pregnancy or need to use birth control (Lamont, 1997; DeLamater,
			2012).</p>

		<p>Both men and women may face challenges to their sexuality in midlife. A man often needs more time to
			achieve an erection, and it takes longer after an orgasm to have another. The volume of fluid that is
			ejaculated declines, as does the production of <span class="emphasis">testosterone</span>, the male sex
			hormone (Hyde &amp; Delameter, 2003).</p>

		<p>For women, the vaginal walls thin and grow less elastic. The vagina begins to shrink and its entrance
			becomes compressed, which can make intercourse painful. For most women, though, the changes do not
			reduce sexual pleasure. Those women who do find intercourse less enjoyable can seek help from an
			increasing array of drugs, such as topical creams and testosterone patches, designed to increase sexual
			pleasure (Laumann, Paik, &amp; Rosen, 1999; Freedman &amp; Ellison, 2004; Nappi &amp; Polatti,
			2009).</p>

		<p><span class="leadin">The Female Climacteric and Menopause.</span> Women enter a period, around age 45,
			known as the climacteric that lasts for 15 to 20 years. The <a
					href="glossary.xhtml#key-femaleclimacteric" target="_blank"><dfn title="femaleclimacteric"
																					 class="keyword"
																					 data-original-title="femaleclimacteric"><span
					class="selection_index"></span>female climacteric</dfn></a> marks the transition that ends the
			childbearing years.</p>
		<p>The most notable sign of this transition is menopause. <a href="glossary.xhtml#key-menopause"
																	 target="_blank"><dfn title="menopause"
																						  class="keyword"
																						  data-original-title="menopause"><span
				class="selection_index"></span>Menopause</dfn></a> is the cessation of  menstruation. Menstrual
			periods begin to occur irregularly and less frequently during a 2-year period starting at around age 47
			or 48, although this may begin as early as age 40 or as late as age 60. Menopause is completed when a
			woman passes a year without a menstrual period.</p>
		<p>Menopause is important because it marks the end of a woman’s natural fertility (although eggs implanted
			in a postmenopausal woman can produce a pregnancy). In addition, estrogen and progesterone levels—the
			female sex hormones—begin to drop (Schwenkhagen, 2007).</p>
		<p>These changes in hormone production may produce a variety of symptoms, although this varies significantly
			for individuals. One of the most prevalent symptoms is “hot flashes,” in which women experience a surge
			of heat above the waist. A woman may get red and begin to sweat when a hot flash occurs. Afterward, she
			may feel chilled. Some women have hot flashes several times a day; others, not at all.</p>
		<p>During menopause, headaches, feelings of dizziness, heart palpitations, and aching joints are relatively
			common, though not universal. In one survey, only half of the women reported having hot flashes, and
			only about one-tenth of all women experience severe distress during menopause. Many women—perhaps as
			many as half—have no significant symptoms at all (Grady, 2006; Ishizuka, Kudo, &amp; Tango, 2008;
			Strauss, 2013).</p>
		<p>For many women, menopause symptoms may begin a decade before menopause actually occurs.
			<span class="emphasis">Perimenopause</span> describes this period prior to menopause when hormone
			production begins to change. It is marked by sometimes radical fluctuations in hormone levels, resulting
			in some of the same symptoms found in menopause (Winterich, 2003; Shea, 2006; Shuster  et al., 2010).
		</p>
		<p>For some women, the symptoms of perimenopause and menopause are considerable. Treating these problems,
			though, can be challenging, as we consider next.</p>
		<header>
			<h1 class="title">The Dilemma of Hormone Therapy: No Easy Answer</h1>
		</header>
		<aside class="vignette">
			<p>Sandra Kendrick was certain she was having a heart attack. She had been weeding her garden when
				suddenly she couldn’t get enough air into her lungs. She felt as if she were on fire, becoming
				lightheaded and dizzy. A feeling of nausea came over her. She made it to the kitchen to call 911 and
				then fell to the floor. When the emergency team examined her, she was both relieved and embarrassed
				to learn that her symptoms indicated not a heart attack but her first hot flash.</p>
		</aside>
		<p>A decade ago, physicians would have had a straightforward remedy for hot flashes and other uncomfortable
			symptoms caused by the onset of menopause: They would have prescribed regular doses of a hormone
			replacement drug.</p>
		<p>For millions of women who experienced similar difficulties, it was a solution that worked. In <span
				class="emphasis">HT</span>, estrogen and progesterone are administered to alleviate the worst of the
			symptoms experienced by menopausal women. HT clearly reduces a variety of problems, such as hot flashes
			and loss of skin elasticity. In addition, HT may reduce coronary heart disease by changing the ratio of
			“good” cholesterol to “bad” cholesterol. HT also decreases the thinning of the bones related to
			osteoporosis, which, as we discussed, becomes a problem for many people in late adulthood (McCauley,
			2007; Alexandersen, Karsdal, &amp; Christiansen, 2009;  Lisabeth &amp; Bushnell, 2012).</p>

		<p>Furthermore, some studies show that HT is associated with reduced risks of stroke and colon cancer.
			Estrogen may improve memory and cognitive performance in healthy women and reduce depression. Finally,
			increased estrogen may lead to a greater sex drive (Cumming et al., 2009; Garcia-Portilla, 2009;
			Lambrinoudaki &amp; Pérez-López, 2013).</p>

		<p>Although HT may sound like a cure-all, in fact since it became popular in the early 1990s, it has been
			well understood that there were risks involved. For instance, it seemed to increase the risk of breast
			cancer and blood clots. The thinking was, though, that the benefits of HT outweighed the risks. All that
			changed after 2002, when a large study conducted by the Women’s Health Initiative determined that the
			long-term risks of HT outweighed the benefits. Women taking a combination of estrogen and progesterone
			were found to be at higher risk for breast cancer, stroke, pulmonary embolism, and heart disease.
			Increased risk of stroke and pulmonary embolism were later found to be associated with estrogen-alone
			therapy  (Lobo, 2009).</p>

		<p>The results of the Women’s Health Initiative study led to a profound rethinking of the benefits of HT,
			calling into question the wisdom that HT could protect postmenopausal women against chronic disease.
			Many women stopped taking hormone replacement drugs. Statistics tell the story: Forty percent of
			postmenopausal women in the U.S. were using HT in 2002; it was down to 20 percent a decade later (Newton
			et al., 2006; Chelebowski et al., 2009;  Beck, 2012).</p>

		<p>The sharp decline among menopausal women using HT is probably an overreaction, however. The most recent
			thinking among medical experts is that it’s not a simple all-or-nothing proposition; some women are
			simply better candidates for HT than others. While HT seems to be less appropriate for older,
			postmenopausal women (such as those who participated in the Women’s Health Initiative study) because of
			the increased risk of coronary heart disease and other health complications, younger women at the onset
			of menopause and who are experiencing severe symptoms might still benefit from the therapy, at least on
			a short-term basis (Rossouw et al., 2007; Lewis, 2009; Beck, 2012).</p>

		<p>Ultimately, HT presents a risk, although one that most physicians believe is worth taking. Women nearing
			menopause need to read literature on the topic, consult their physicians, and ultimately come to an
			informed decision about how to proceed.</p>

		<p><span class="leadin">The Psychological Consequences of Menopause.</span> Traditionally, many people,
			including experts, believed that menopause was linked directly to depression, anxiety, crying spells,
			lack of concentration, and irritability. Some researchers estimated that as many as 10 percent of
			menopausal women suffered severe depression. It was assumed that the physiological changes of menopause
			caused such problems (Schmidt &amp; Rubinow, 1991; Soares &amp; Frey, 2010).</p>

		<p>Today, most researchers take a different view, regarding menopause as a normal part of aging that does
			not, by itself, produce psychological symptoms. Some women do experience psychological difficulties, but
			they do so at other times in life as well (Freeman, Sammel, &amp; Liu, 2004; Somerset et al., 2006;
			Wroolie &amp; Holcomb, 2010).</p>
		<p>Research shows that a woman’s expectations can significantly affect her experience of menopause. Women
			who expect to have difficulties are more likely to attribute every physical symptom and emotional swing
			to menopause, while those with more positive attitudes are less apt to do so. A woman’s attribution of
			physical symptoms, then, may affect her perception of menopause—and thus her actual experience of the
			period (Breheny &amp; Stephens, 2003; Bauld &amp; Brown, 2009; Strauss, 2011).</p>
		<aside class="marginalia marginalia_1">
			<p><span class="leadin">From the perspective of a health care provider:</span> What cultural factors  in
				the United States might contribute to a woman’s negative experience of  menopause? How?</p>
		</aside>
		<p><span class="leadin">The Male Climacteric.</span> Do men experience the equivalent of menopause? Not
			really. Lacking anything akin to menstruation, they cannot experience its discontinuation. But men do
			experience changes in midlife that are referred to as the male climacteric. The <a
					href="glossary.xhtml#key-maleclimacteric" target="_blank"><dfn title="maleclimacteric"
																				   class="keyword"
																				   data-original-title="maleclimacteric"><span
					class="selection_index"></span>male climacteric</dfn></a> is the period of physical changes in
			the reproductive system (which may be accompanied by psychological changes) that occurs late in midlife,
			typically in a man’s 50s.</p>

		<p>Because the changes are gradual, it is hard to pinpoint the exact period of the male climacteric. For
			instance, despite declines in testosterone levels and sperm count, men are able to father children
			throughout middle age. And it is no easier in men than in women to attribute psychological symptoms to
			subtle physiological changes.</p>

		<p>One physical change that occurs frequently is enlargement of the <span
				class="emphasis">prostate gland</span>. By age 40, about 10 percent of men have enlarged prostates,
			and the percentage increases to half of all men by the age of 80. Enlargement of the prostate produces
			problems with urination, including difficulty starting urination or a need to urinate frequently at
			night.</p>

		<p>Sexual problems also increase as men age. In particular, <span
				class="emphasis">erectile dysfunction</span>, in which men are unable to achieve or maintain an
			erection, becomes more common. Drugs such as Viagra, Levitra, and Cialis, as well as patches that
			deliver doses of testosterone, often prove an effective treatment (Abdo et al., 2008; Shamloul &amp;
			Ghanem, 2013).</p>

		<p>Men, like women, undergo psychological development in middle adulthood, but the extent to which
			psychological changes—discussed in the next module—are related to reproductive or other physical changes
			remains an open question.</p>
	</section>
	<header>
		<h1 class="title title_1">Review and Apply</h1>
	</header>
	<section class="level2">
		<header>
			<h1 class="title">Review</h1>
		</header>

		<section class="objectiveset">
			<ol class="objectivelist dynamiclist">
				<li class="objective">
					<p class="lotext"><span class="number">LO 8.2</span>What changes occur in sexuality for midlife
						men and women?</p>
				</li>
			</ol>
			<ul>
				<li>
					<p>Sexuality in middle adulthood changes slightly, but couples, freed from childbearing and
						parenting, can enjoy a new level of intimacy and pleasure.</p>
				</li>
				<li>
					<p>Physical changes affecting sexuality occur in both genders. Both the female climacteric, which
						includes menopause, and the male climacteric seem to have physical and perhaps psychological
						symptoms.</p>
				</li>
			</ul>
			<ol class="objectivelist dynamiclist">
				<li class="objective">
					<p class="lotext"><span class="number">LO 8.3</span>Why is there controversy over HT for women?
					</p>
				</li>
			</ol>
			<ul>
				<li>
					<p>While some research have found that longterm risks of HT, including breast cancer, stroke, and
						heart disease, outweigh the benefits, current thinking among medical experts is that some women
						are better candidates for HT than others.</p>
				</li>
			</ul>
		</section>
	</section>

	<section class="level2">
		<header>
			<h1 class="title">Applying Lifespan Development</h1>
		</header>
		<ul>
			<li>
				<p>How do you think society’s view of women as losing their sexual allure in middle age affects
					women’s physical and psychological experience of menopause?</p>
			</li>
		</ul>

		<aside class="marginalia">
			{{#view}}
				{{> ui-kit-text-icon }}
			{{/view}}
		</aside>

	</section>