<section class="bodymatter">
	<header>
		<h1 class="title">
			<span class="lable">Module</span>
			<span class="number"> 8.1</span><br/>
			Physical Development in Middle Adulthood
		</h1>
	</header>

	<aside class="ls_audio">
		{{#audio}}
			{{> ui-kit-text-icon }}
		{{/audio}}
		<div class="player-container-wrapper" style="display:none">
			<div class="player-container">
				<audio id="player-1" src="https://mediaplayer.pearsoncmg.com/assets/_pmd.true/feldman_0133814912_feldman_08_01?mimeType=mp3" controls="controls"><p>Your browser doesn't support HTML5 audio</p></audio>
			</div>
		</div>
	</aside>

	<aside class="vignette">
		<p>Derek Reed has been building houses since he was 19 years old. “I was just a hired hand then,” Derek, now 48, says, “It was a lot of up and down ladders. A lot of monkey work.”</p>

		<p>Those days are long gone—Derek’s owned his construction firm for over 20 years—but it’s still a lot of work. He builds five houses a year and he’s up and down ladders on every one, scrambling over roof beams, and lugging heavy weights. Last spring, he had trouble with his knees, then his neck. “Not as young as I used to be,” he admits with a smile. Derek asked his doctor what he could do to keep going. He was surprised by the answer: Yoga. But he gave it a try and now he wouldn’t think of skipping a day. “I also meditate,” he says. “The meditation relaxes me and the yoga strengthens me without strain. I’ll be building houses when I’m 70.”</p>
	</aside>

	<figure class="informalfigure">
		<img src="{{path}}/images/epub/ASSET46802.jpg" alt="" />
	</figure>

	<p>Derek Reed’s expectation that he will still be building houses at age 70 is indicative of a revolution that is occurring in terms of the physical activity of people in middle adulthood. People reaching the midcentury mark are joining health clubs in record numbers, seeking to remain healthy and agile as they age.</p>

	<p>It is in middle adulthood, roughly the period from age 40 to 65, that people often first notice and feel the effects of aging. Their bodies and, to some extent, their cognitive abilities begin to change in unwelcome ways. Looking at the physical, cognitive, and social changes of midlife, however, we see this is also a time when many people reach the height of their capabilities, when they are engaged in shaping their lives as never before.</p>

	<p>We begin the module by considering physical development. We consider changes in height, weight, and strength, and discuss the subtle declines in various senses.</p>

	<p>We also look at sexuality in middle adulthood. We examine the effects of change in hormone production for both men and women—particularly, menopause—and the various therapies available to ease this transition. We consider, too, the role attitude plays.</p>

	<p>We then examine both health and illness in midlife. We consider the impact of stress and pay special attention to two major health problems—heart disease and cancer.</p>

</section>