<section class="bodymatter">
    <header>
        <h1 class="title">Work and Leisure</h1>
    </header>
    <section class="objectiveset">
        <ol class="objectivelist dynamiclist">
            <li class="objective">
                <p class="lotext"><span class="number">LO 8.16</span> What are the characteristics of work in middle adulthood?</p>
            </li>
            <li class="objective">
                <p class="lotext"><span class="number">LO 8.17</span> How is leisure time different in middle adulthood?</p>
            </li>
        </ol>
    </section>
    <aside class="ls_audio">
		{{#audio}}
			{{> ui-kit-text-icon }}
		{{/audio}}

		<div class="player-container-wrapper" style="display:none">
            <div class="player-container">
                <audio id="player-1" src="https://mediaplayer.pearsoncmg.com/assets/_pmd.true/feldman_0133814912_feldman_08_18?mimeType=mp3" controls="controls">
                    <p>Your browser doesn't support HTML5 audio</p>
                </audio>
            </div>
        </div>
    </aside>
    <section class="level2">
        <aside class="vignette">
            <p>Enjoying a weekly game of golf . . . starting a neighborhood <span class="label">Watch</span> program . . . coaching a Little League baseball team . . . joining an investment club . . . traveling . . . taking a cooking class . . . attending a theater series . . . running for the local town council . . . going to the movies with friends . . . hearing lectures on Buddhism . . . fixing up a porch in the back of the house . . .  chaperoning a high school class on an out-of-state trip . . . lying on a beach, reading a book  during an annual vacation . . .</p>
        </aside>
        <p>Adults in their middle years actually enjoy a rich variety of activities. Although middle adulthood often represents the peak of career success and earning power, it is also a time when people throw themselves into leisure and recreational activities. In fact, midlife may be the period when work and leisure activities are balanced most easily. No longer feeling a need to prove themselves on the job, and increasingly valuing their contributions to family, community, and—more broadly—society, middle-aged adults may find that work and leisure complement one another in ways that enhance overall happiness.</p>
        <header>
            <h1 class="title">Work and Careers: Jobs at Midlife</h1>
        </header>
        <p>For many, productivity, success, and earning power are greatest in middle age, but occupational success may become far less alluring than it once was. This is particularly true for those who have not achieved the career success they had hoped for. In such cases, family and other off-the-job interests become more important than work (Howard, 1992; Simonton, 1997).</p>
        <p>The factors that make a job satisfying change during middle age. Younger adults focus on abstract and future-oriented concerns, such as the opportunity for advancement or the possibility of recognition and approval. Middle-aged employees care more about the here-and-now qualities of work. They are more concerned with pay, working conditions, and specific policies, such as how vacation time is calculated. As at earlier stages of life, changes in overall job quality are associated with changes in stress levels for both men and women (Peterson &amp; Wilson, 2004; Cohrs, Abele, &amp; Dette, 2006; Rantanen et al., 2012).</p>
        <p>In general, though, the relationship between age and work is positive: The older workers are, the more overall job satisfaction they experience. This is not altogether surprising, because younger adults who are dissatisfied with their jobs will quit them and find new positions that they like better. Also, because older workers have fewer opportunities to change jobs, they may learn to live with what they have and accept that it is the best they are likely to get. Such acceptance may ultimately translate into satisfaction (Tangri, Thomas, &amp; Mednick, 2003).</p>
        <header>
            <h1 class="title">Challenges of Work: On-the-Job Dissatisfaction</h1>
        </header>
        <p>Job satisfaction is not universal in middle adulthood. For some people, dissatisfaction with working conditions or with the nature of the job increases their stress. Conditions may become so bad that the result is burnout or a decision to change jobs.</p>
        <p><span class="leadin">Burnout.</span> For 44-year-old Peggy Augarten, her early-morning shifts in the intensive care unit of a suburban hospital were becoming increasingly difficult. It had always been hard to lose a patient, but recently she found herself crying over patients at the strangest moments: while she was doing the laundry, washing the dishes, or <span class="label">Watch</span>ing TV. When she began to dread going to work, she knew that her feelings about her job were undergoing a fundamental change.</p>
        <p>Augarten’s response probably reflects the phenomenon of burnout. <a href="glossary.xhtml#key-burnout" target="_blank"><dfn title="burnout" class="keyword" data-original-title="burnout"><span class="selection_index"></span>Burnout</dfn></a> occurs when workers experience dissatisfaction, disillusionment, frustration, and weariness from their jobs. It occurs most often in jobs that involve helping others, and it often strikes those who once were the most idealistic and driven. In some ways, such workers may be overcommitted to their jobs. Realizing that they can make only minor dents in huge social problems such as poverty and medical care can be disappointing and demoralizing (Taris, van Horn, &amp; Schaufeli, 2004; Bakker &amp; Heuven, 2006; Dunford et al., 2012).</p>
        <figure class="informalfigure">
            <img src="{{path}}/images/epub/AAABTYC0.jpg" class="image_1" alt="Photo shows a distressed male employee sitting with files strewn all over the desk." />
            <figcaption>
                <div class="caption">
                    <p>Burnout occurs when a worker experiences dissatisfaction, disillusionment, frustration, or weariness from his or her job.</p>
                </div>
            </figcaption>
        </figure>
        <p>A growing cynicism about one’s work characterizes burnout. An employee might say to himself, “What am I working so hard for? No one is going to notice that I’ve come in on budget for the last two years.” Workers also may feel indifferent about their job performance. The idealism a worker felt entering a profession may give way to pessimism and the attitude that no meaningful solution to a problem exists (Lock, 1992).</p>
        <p>People can combat burnout, even those in professions with high demands and seemingly insurmountable burdens. For example, the nurse who despairs of not having enough time for every patient can be helped to realize that a more feasible goal—such as giving patients a quick backrub—can be equally important. Jobs can also be structured so that workers (and their supervisors) pay attention to small victories in their daily work, such as the pleasure of a client’s gratitude, even though the “big picture” of disease, poverty, racism, and an inadequate educational system may look gloomy. In addition, it is important to mentally disengage from work during leisure time (deJonge et al., 2012; Sonnentag, 2012; Bährer-Kohler, 2013).</p>
        <header>
            <h1 class="title">Unemployment: The Dashing of the Dream</h1>
        </header>
        <p>For many workers, unemployment is a hard reality, affecting them psychologically and economically. For those who have been fired, laid-off by corporate downsizing, or forced out of jobs by technological advances, being out of work can be psychologically and even physically devastating (Sharf, 1992).</p>
        <p>Unemployment can leave people feeling anxious, depressed, and irritable. Their self-confidence may plummet, and they may be unable to concentrate. According to one analysis, every time the unemployment rate goes up 1 percent, there is a 4 percent rise in suicide, and admissions to psychiatric facilities go up by some 4 percent for men and 2 percent for women (Connor, 1992; Inoue et al., 2006; Paul &amp; Moser, 2009).</p>
        <p>Even seemingly positive aspects of unemployment, such as having more time, can affect people negatively. Unemployed people may feel depressed and at loose ends, making them less apt to take part in community activities, use libraries, and read than employed people. They are more likely to be late for appointments and even for meals (Ball &amp; Orford, 2002; Tyre &amp; McGinn, 2003).</p>
        <figure class="informalfigure">
            <img src="{{path}}/images/epub/AAKYOUL0.jpg" alt="Photo shows a middle-aged man packing up his work belongings." class="image_1a"/>
            <figcaption>
                <div class="caption">
                    <p>Becoming unemployed in midlife can be a shattering experience that may taint your view of the world.</p>
                </div>
            </figcaption>
        </figure>
        <p>And these problems may linger. Middle-aged adults tend to stay unemployed longer than younger workers, and have fewer opportunities for gratifying work as they age. Employers may discriminate against older applicants, making it more difficult to find a new job. Such discrimination is both illegal and based on misguided assumptions: Research finds that older workers miss fewer work days, hold their jobs longer, are more reliable, and are more willing to learn new skills (Connor, 1992).</p>
        <p>Midlife unemployment is a shattering experience. For some people, especially those who never find meaningful work again, it taints their view of life. Such involuntary—and premature—retirement can lead to pessimism, cynicism, and despondency. Accepting the new situation takes time and a good deal of psychological adjustment. And there are challenges for those who <span class="emphasis">do</span> find a new career, too (Waters &amp; Moore, 2002).</p>
        <header>
            <h1 class="title">Switching—and Starting—Careers at Midlife</h1>
        </header>
        <p>For some people, midlife brings a hunger for change. For those who are dissatisfied with their jobs, who switch careers after a period of unemployment, or who return to a job market they left years ago, development leads to new careers.</p>
        <p>People change careers in middle adulthood for several reasons. Their job may offer little challenge, or they have achieved mastery, making the once difficult, routine. Other people switch because their jobs have changed in ways they do not like, or they may have lost their job. They may be asked to accomplish more with fewer resources, or technology may have drastically changed their daily activities and they no longer enjoy what they do.</p>
        <p>Still others are unhappy with their status and wish to make a fresh start. Some are burned out or feel that they are on a treadmill. And some people simply want something new. They view middle age as the last chance to make a meaningful occupational change.</p>
        <p>Finally, a significant number of people, most of them women, return to the job market after raising children. Some need to find paying work after a divorce. Since the mid-1980s, the number of women in the workforce who are in their 50s has grown significantly. Around half of women between the ages of 55 and 64—and an even larger percentage of those who graduated from college—are now in the workforce.</p>
        <p>People may enter new professions with unrealistically high expectations and then be disappointed by the realities. Middle-aged people, starting new careers, may also be placed in entry-level positions. Thus, their peers on the job may be considerably younger than they are (Sharf, 1992; Barnett &amp; Hyde, 2001).</p>
        <p>But in the long run, starting a new career in midlife can be invigorating. Those who switch or begin new careers may be especially valued employees (Bromberger &amp; Matthews, 1994; Otto, Dette-Hagenmeyer, &amp; Dalbert, 2010; Feldman &amp; Ng, 2013).</p>
        <p>Some forecasters suggest that career changes will become the rule, not the exception.  According to this view, technological advances will occur so rapidly that people will be forced periodically to change their profession, often dramatically. People will have not one, but several, careers during their lifetimes. As the “Cultural Dimensions” segment shows, this is especially true for those who make the major life and career change: immigrating to another country as adults.</p>
        <aside class="marginalia marginalia_1">
            <p><span class="leadin">From the perspective of a social worker:</span> Why do you think immigrants’ ambition and achievements are widely underestimated? Do conspicuous negative examples play a role (as they do in perceptions of the midlife crisis and stormy adolescence)?</p>
        </aside>
        <header>
            <h1 class="title">Leisure Time: Life Beyond Work</h1>
        </header>
        <p>With the typical work week hovering between 35 and 40 hours—and becoming shorter for most people—most middle-aged adults have some 70 waking hours per week of leisure time (Kacapyr, 1997). What do they do with it?</p>
        <p>For one thing, they <span class="label">Watch</span> television. Middle-aged people average around 15 hours of television each week. But adults do much more with their leisure time. For many people, midlife offers a renewed opportunity to take up activities outside the home. As children leave, parents have substantial time to participate in leisure activities like sports or participate in town committees. Middle-aged adults in the United States spend about 6 hours each week socializing (Robinson &amp; Godbey, 1997; Lindstrom et al., 2005).</p>
        <p>A significant number of people find leisure so alluring that they take early retirement. For early retirees who have adequate financial resources to last the remainder of their years, life can be quite gratifying. Early retirees tend to be in good health, and they may take up a variety of new activities (Cliff, 1991; Jopp &amp; Hertzog, 2010).</p>
        <p>Although midlife offers the opportunity for more leisure, most people report that the pace of their lives does not seem slower. Much of their free time is scattered throughout the week in 15- and 30-minute chunks as they pursue a variety of activities. Thus, despite a documented increase of 5 hours of weekly leisure time since 1965, many people feel they have no more free time than they did earlier (Robinson &amp; Godbey, 1997).</p>
        <p>One reason why extra leisure time seems to evaporate is that the pace of life in the United States is considerably faster than in many countries. By measuring the length of time average pedestrians cover 60 feet, the time it takes to purchase a stamp, and the accuracy of public clocks, research has compared the tempo of living in a variety of countries. According to a composite of these measures, the United States has a quicker tempo than many other countries, particularly Latin American, Asian, Middle Eastern, and African countries. But, many countries outpace the United States. Western European countries and Japan move more quickly than the United States, with Switzerland ranking first (Levine, 1997a, 1997b).</p>
        <aside class="sidebar">
            <header>
                <h1 class="title">Cultural Dimensions</h1>
            </header>
            <section class="level2">
                <header>
                    <h1 class="title">Immigrants on the Job: Making It in America</h1>
                </header>
                <aside class="vignette">
                    <p>Seventeen years ago, Mankekolo Mahlangu-Ngcobo was placed in solitary confinement for 21 days in South Africa’s Moletsane police station, falsely accused of terrorism. In 1980, once again in danger of imprisonment for her anti-apartheid protests, she fled to Botswana, leaving her 12-year-old son Ratijawe with her mother. She came to the U.S. in 1981, won political asylum in 1984 and now lives with her 13-year-old daughter Ntokozo in a $60,000 Baltimore row house. Her experiences left her with a deep appreciation of her adopted land. “If you have never lived somewhere else,” she says, “you cannot know how much freedom you have here.”</p>
                    <p>Ngcobo also found prosperity here. As with many of her fellow immigrants, the key was education. Since her arrival, she has earned a bachelor’s degree, two master’s, and a doctorate in theology—which she paid for largely with scholarships or with her own money. Her academic credentials and dedication to helping others have won her two soul-satisfying careers, as a lecturer in public health at Baltimore’s Morgan State University and as assistant minister at the Metropolitan African Methodist Episcopal Church in Washington, D.C. (Kim, 1995,  p. 133)</p>
                </aside>
                <p>Public opinion often portrays immigrants to the United States as straining the educational, health care, welfare, and prison systems while contributing little to society. But—as Mankekolo Mahlangu-Ngcobo’s story shows—these assumptions are quite wrong.</p>
                <p>With around 1.2 million immigrants entering the United States each year, foreign-born residents now represent 10 percent of the population, more than twice the percentage in 1970. First- and second-generation immigrants comprise almost a quarter of the population of the United States (Deaux, 2006).</p>
                <p>Today’s immigrants are somewhat different from those of the earlier waves at the beginning of the twentieth  century. Only a third are white, compared with almost  90 percent of immigrants who arrived before 1960.</p>
                <p>Critics argue that many new immigrants lack the skills that will allow them to make a contribution to the high-tech economy of the twenty-first century. However, the critics are wrong in many fundamental respects. For instance, consider the following data (Camarota, 2001; Flanigan, 2005; Gorman, 2010):</p>
                <ul>
                    <li>
                        <p>
                            <span class="strong">Most legal and illegal immigrants ultimately succeed financially.</span> Although they initially experienced higher rates of poverty, immigrants who arrived in the United States prior to 1980 and established themselves have a higher family income than native-born Americans. Immigrants match nonimmigrants in entrepreneurship, with one in nine owning their own business.
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="strong">Only a few immigrants come to the United States to get on welfare.</span>  Instead, most say they come for the opportunities to work and prosper. Nonrefugee immigrants of working age are less likely to be on welfare than native-born U.S. citizens.
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="strong">Given time, immigrants contribute more to the economy than they take away.</span> Although initially costly to the government, often because they hold low-paying jobs and therefore pay no income taxes, immigrants  become more productive as they get older.
                        </p>
                    </li>
                </ul>
                <p>Why are immigrants often ultimately financially successful?  One explanation is that immigrants who voluntarily choose to leave their native countries are particularly motivated and driven to be successful.</p>
            </section>
        </aside>
    </section>
    <header>
        <h1 class="title title_1">Review and Apply</h1>
    </header>
    <section class="level2">
        <header>
            <h1 class="title">Review</h1>
        </header>
        <section class="objectiveset">
            <ol class="objectivelist dynamiclist">
                <li class="objective">
                    <p class="lotext"><span class="number">LO 8.16</span>What are the characteristics of work in middle adulthood?</p>
                </li>
            </ol>
        </section>
        <ul>
            <li>
                <p>People in middle age view their jobs differently than before, placing more emphasis on specific job factors such as pay and working conditions, and less on career striving and ambition.</p>
            </li>
            <li>
                <p>Midlife career changes are becoming more prevalent, motivated usually by dissatisfaction, the need for more challenge or status, or the desire to return to the workforce after childrearing.</p>
            </li>
        </ul>
        <section class="objectiveset">
            <ol class="objectivelist dynamiclist">
                <li class="objective">
                    <p class="lotext"><span class="number">LO 8.17</span>How is leisure time different in middle adulthood?</p>
                </li>
            </ol>
        </section>
        <ul>
            <li>
                <p>People in midlife usually have increased leisure time. Often they use it to become more involved outside the home in recreational and community activities.</p>
            </li>
        </ul>
    </section>
    <section class="level2">
        <header>
            <h1 class="title">Applying Lifespan Development</h1>
        </header>
        <ul>
            <li>
                <p>Why might striving for occupational success be less appealing in middle age than before? What cognitive and personality changes might contribute to this phenomenon?</p>
            </li>
        </ul>
		<aside class="marginalia">
			{{#view}}
				{{> ui-kit-text-icon }}
			{{/view}}
		</aside>
    </section>
</section>