{{#breadcrumbs}}
<div class="breadcrumbs">
  {{#path}}
  <a class="pe-label pe-label--small breadcrumbs-path" href={{link}}>{{label}}</a> {{>pearson-single-icon}} {{/path}}
  <span class="pe-label pe-label--small">{{label}}</span>
</div>
{{/breadcrumbs}}