{{#basicInput}}
<div class="fancy-input">
    <label class="pe-textLabelInput__label" for="{{id}}">{{label}}</label>
    <input type="text" class="pe-textInput--input_readonly" id="{{id}}" value="read only" readonly>
</div>
{{/basicInput}}
