{{#basicInput}}
<div class="basic-input">
  <label class="pe-textLabelInput__label" for="{{id}}">{{label}}</label>
  <input type="text" class="pe-textInput--basic" id="{{id}}" placeholder="{{placeholder}}">
</div>
{{/basicInput}}