{{#glpAssignmentDetailsAudexManual}}
<div class="wsl-glp gravity-grid">
    {{> molecules-create-assigment-header}}

    {{> molecules-create-assignment-action-bar-only-save}}

    <div class="glp-wsl content-formatter-assignment-creation">
    {{> organisms-create-assignment-content-manual-supporting-docs}}
    </div>
</div>
{{/glpAssignmentDetailsAudexManual}}
