{{#glpAssignmentDetailsManualUpload}}
<div class="wsl-glp gravity-grid">
    
        <!--header-->
        <header class="glp-wsl pe-proto core-header" style="position:fixed; top:0; z-index: 1002; height:70px;">
                <div class="max-content-width">
                    <div class="open-btn">
                        <!-- <button type="button" class="pe-icon--btn back-btn" {{^backModal}}onclick="location.href = '{{path}}{{url}}'"{{/backModal}} {{#backModal}}data-modal-id="exitConfirmation"{{/backModal}} aria-label="{{ariaLabel}}"> -->
                        <button type="button" class="pe-icon--btn close-btn" aria-label="Close assignment creation">
                            <svg focusable="false" class="pe-icon--remove-sm-24" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#remove-sm-24"></use>
                            </svg>
                        </button>
                    </div>
            
                    <div class="title-container">
                        <h1 class="pe-title">
                            <a class="no-link-style" href="#">Create Writing Assignment</a>
                        </h1>
                    </div>
            
                    <div class="actions">
                        <button type="button" class="pe-icon--btn delete" aria-label="Delete writing assignment" onclick="">
                            <svg focusable="false" class="pe-icon--delete-outline-24" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#delete-outline-24"></use>
                            </svg>
                        </button>
                    </div>
                </div><!--max-content-width-->
            </header>
            <!--/header-->

            <!--subheader-->
            <div class="glp-wsl assessment-control-bar-container white-bg border-bottom">
                <div class="assessment-control-bar max-content-width">
                    <!-- <button class="pe-btn--btn_small cancel" type="button">Preview</button> DELTE-->
                    <button class="pe-btn--btn_small left-button" type="button" disabled>Preview</button>
                    <div> 
                        <button class="pe-btn--btn_small preview" type="button" onclick="" disabled>Save</button>
                        <!-- <button class="pe-btn__primary--btn_small save" id="saveBtn" type="button">Done</button> DELETE-->
                        <button class="pe-btn__primary--btn_small right-button" id="saveBtn" type="button" disabled>Done</button>
                    </div>
                </div>
            </div>
            <!--/subheader-->

    {{> molecules-create-assignment-action-bar-only-save}}

    <div class="glp-wsl content-formatter-assignment-creation">


    <div class="glp-wsl max-content-width">
            <section class="assignment-creation-content">
        
                <div class="wsl-assignment-ID-number">ID #123456</div>
        
                <div class="group basic-input">
                    <label class="pe-title margin-bottom assignment-creation-input" for="wslAssignmentTitle">Assignment title</label>
                    <input type="text" class="pe-textInput--basic" id="wslAssignmentTitle" placeholder="{{placeholder}}" aria-required="true">
                </div>
        
                <div class="group basic-input">
                    <label class="pe-title margin-bottom assignment-creation-input" for="wslAssignmentKeywords">Keywords - <span class="assignment-creation-directive">separated by commas</span></label>
                    <input type="text" class="pe-textInput--basic" id="wslAssignmentKeywords" placeholder="{{placeholder}}" aria-required="true">
                </div>
        
        
                {{#fancyInputAssignmentCreation}}
                <div class="group fancy-input">
                    <label class="pe-title margin-bottom assignment-creation-input" for="wslAssignmentTitle">Assignment title</label>
                    <input type="text" class="pe-textInput" id="wslAssignmentTitle" aria-required="true">
                    <span class="pe-input_underline"></span>
                </div>
        
                <div class="group fancy-input">
                    <label class="pe-title margin-bottom assignment-creation-input" for="wslAssignmentKeywords">Keywords - <span class="assignment-creation-directive">separated by commas</span></label>
                    <input type="text" class="pe-textInput" id="wslAssignmentKeywords" aria-required="true">
                    <span class="pe-input_underline"></span>
                </div>
                {{/fancyInputAssignmentCreation}}
        
                <div class="group single-select">
        
                    {{#selectDiscipline}}
                    <label class="pe-title margin-bottom assignment-creation-input">Discipline</label>
                    {{/selectDiscipline}}
        
                    <label class="pe-title margin-bottom assignment-creation-input">Discipline - <span class="assignment-creation-directive">select all that apply</span></label>
        
                    {{#selectDiscipline}}
                    <div class="list-single-select">	
                        <select id="dropdown btn-menu" name="dropdown" class="action-container">
                            <option selected>Discipline options</option>
                            <option>Anatomy & Physiology</option>
                            <option>Astronomy</option>
                            <option>Biology</option>
                            <option>Business Administration</option>
                            <option>Option etc</option>
                        </select>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role=img aria-label="Discipline List" class="pe-icon--dropdown-open-sm-24">
                            <use xlink:href="#dropdown-open-sm-24"></use>
                        </svg>
                    </div>
                    {{/selectDiscipline}}
        
                    <div class="list-multi-select">
                        {{> atoms-gravity-multi-dropdown-wsl}}
                    </div>
        
                </div>
        
            
                <div class="group prompt">
                    <label class="pe-title margin-bottom assignment-creation-input">Writing Prompt - <span class="assignment-creation-directive"><a href="#">Learn more</a></span></label>
                   <div class="assignment-creation-prompt">
                        <button class="pe-btn pe-btn--btn_large">Choose prompt</button>
                        <a href="#" class="clear-prompt">Clear prompt</a>
        
                        <div class="manual-choose-prompt">
                            <textarea class="pe-multiLineText" placeholder="" cols="30" rows="5"></textarea>
                            <a href="#" class="show-formatting-options-link">Show formatting options</a>
                        </div> 
                   </div>
                </div>
        
                
            <div class="group supporting-documents">
                {{#accordion}}
                <div class="accordion">
                    {{#section}}
                    <div class="section {{#disabled}}disabled{{/disabled}}">
                        <div class="grouped">
                            <div class="icons">
                                <svg focusable="false" class="pe-icon--dropdown-open-18" role="img" aria-label="">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-open-18"></use>
                                </svg>
                                <svg focusable="false" class="pe-icon--dropdown-close-18" role="img" aria-label="" style="display:none">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-close-18"></use>
                                </svg>
                            </div>
                            <div class="section-header">
                                {{#iconHeader}} {{> pearson-single-icon}} {{/iconHeader}}
                                <span class="pe-title" role="button" aria-expanded="false">{{label}}</span>
                            </div>
                        </div>
        
                        
                        <div class="section-content" style="display:none" aria-hidden="true">
                           
                            <div class="section-item add-supporting-drag">
                                <!-- {{> molecules-add-supporting-drag }} -->
                                <div class="glp-wsl add-supporting-docs-drag">
                                    <p>Upload documents students may want to consult for this assignment.</p>
                                    <div class="uploader-container" style="width: 139%;">
                                      <div class="uploader">
                                          <div class="browse">
                                              <button class="pe-btn__primary pe-btn--btn_large">Browse</button>
                                              <span>Your computer</span>
                                          </div>
                                          <div class="or-text">
                                              <div class="line"></div>
                                              <span>or</span>
                                              <div class="line"></div>
                                          </div>
                                          <div class="drag-drop">
                                              <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="b1" class="pe-icon--screen-full-24">
                                                  <title id="b1">Drag and Drop</title>
                                                  <use xlink:href="#screen-full-24"></use>
                                              </svg> -->
                                              <img src="../../images/fullscreen-on-24.svg" alt="Drag and drop">
                                              <span>Drag and drop your file here.</span>
                                          </div>
                                      </div>
                                  </div>
                                  
                                  {{#uploaded }}
                                      <div class="uploaded">
                                          <ul>
                                              <li>Attached Files:</li>
                                              <li>{{> atoms-single-icon(icon: "note-18" ) }} Eli Whitney Brief Sketch.docx {{> atoms-single-icon(icon: "item-remove-18" ) }}</li>
                                              <li>{{> atoms-single-icon(icon: "note-18" ) }} Freshman Writing Guide.docx {{> atoms-single-icon(icon: "item-remove-18" ) }}</li>
                                          </ul>
                                      </div>
                                  {{/uploaded}}
                                  </div>
                            </div>
        
                        
                            
                        </div>
                    </div>
                    {{/section}}
                </div>
                {{/accordion}}
            </div>
                
        
            <div class="group rubric">
                <label class="pe-title margin-bottom assignment-creation-input">Rubric</label>
                <div class="assignment-creation-rubric-link">
                    <button class="pe-btn pe-btn--btn_large">Choose or create rubric</button>
                </div>
            </div>
        
            <div class="group scoring-method">
                <label class="pe-title margin-bottom assignment-creation-input">Choose scoring method - <span class="assignment-creation-directive"><a href="#">Learn more</a></span></label>
        
                <fieldset>
                    <legend class="pe-title--small hide">Scoring method</legend>
                    <div class="pe-radio">
                        <input type="radio" id="radio01" name="radiobutton1" value="tea">
                        <label for="radio01"><span class="pe--semibold">AI-assisted scoring</span> - You train the system by scoring 20 submissions. The system scores the rest.</label>
                        <span>
                        <svg aria-hidden="true" focusable="false" class="pe-icon--radio-dot">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#new-notification-9"></use>
                        </svg>
                        </span>
                    </div>
                    <div class="pe-radio">
                        <input type="radio" id="radio02" name="radiobutton2" value="coffee">
                        <label class="flex-row" for="radio02"><span class="pe--semibold">Instant scoring</span> - The system scores submissions immediately without input from you.</label>
                        <span>
                        <svg aria-hidden="true" focusable="false" class="pe-icon--radio-dot">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#new-notification-9"></use>
                        </svg>
                        </span>
                    </div>
                    <div class="pe-radio">
                        <input type="radio" id="radio03" name="radiobutton3" value="mocha">
                        <label class="flex-row" for="radio03"><span class="pe--semibold">Manual scoring</span> - You can create or edit prompts and rubrics. You score all submissions.</label>
                        <span>
                        <svg aria-hidden="true" focusable="false" class="pe-icon--radio-dot">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#new-notification-9"></use>
                        </svg>
                        </span>
                    </div>
                </fieldset>
            </div>
        
                <div class="group instant-feedback">
                    <label for="instant-feedback-toggle-01" class="pe-title margin-bottom assignment-creation-input">Allow instant feedback before submission - <span class="assignment-creation-directive">only for system-scored writing prompts</span></label>
                    <div class="gravity-toggle toggle-container">
                        <button role="switch" name="instant-feedback-toggle-01" value="false" id="instant-feedback-toggle-01" class="pe-toggle toggle-button" aria-invalid="false" aria-labelledby="instant-feedback-toggle-01-label" aria-describedby="instant-feedback-toggle-01-desc" aria-checked="true" checked="">
                            <svg focusable="false" aria-hidden="true">
                                <use xlink:href="#check-sm-18"></use>
                            </svg>
                            <svg focusable="false" aria-hidden="true">
                                <use xlink:href="#remove-sm-18"></use>
                            </svg>
                        </button>
                        <p for="instant-feedback-toggle-01" id="instant-feedback-toggle-01-desc" class="pe-toggle">When ON students can get instant feedback up to 5 times before submitting an assignment for a grade.</p>
                    </div>    
                </div>
        
                <div class="group learning-objective">
                    <label class="pe-title margin-bottom assignment-creation-input">Learning objective - <span class="assignment-creation-directive">You can enter a goal for this assignment that students can see</span></label>
                    <div class="textarea learning-objective-container">
                        <textarea class="pe-multiLineText"></textarea>
                    </div>
                </div>
        
                <div class="group single-select">
                    <label class="pe-title margin-bottom assignment-creation-input">Citation style</label>
                    <div class="list-single-select">	
                        <select id="dropdown btn-menu" name="dropdown" class="action-container">
                            <option selected>No style required</option>
                            <option>Placeholder for option</option>
                            <option>Placeholder for option</option>
                            <option>Placeholder for option</option>
                            <option>Placeholder for option</option>
                        </select>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role=img aria-label="Discipline List" class="pe-icon--dropdown-open-sm-24">
                            <use xlink:href="#dropdown-open-sm-24"></use>
                        </svg>
                    </div>
                </div>
        
                <div class="group response-length">
                    <label class="pe-title margin-bottom assignment-creation-input">Response length</label>
                    <fieldset>
                        <!-- <legend class="pe-title--small">Response length</legend> -->
                        <div class="pe-radio">
                            <input type="radio" id="radio01" name="radiobutton2" value="tea">
                            <label for="radio01">No required Length</label>
                            <span>
                            <svg aria-hidden="true" focusable="false" class="pe-icon--radio-dot">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#new-notification-9"></use>
                            </svg>
                            </span>
                        </div>
                        <div class="pe-radio fib">
                            <input type="radio" id="radio02" name="radiobutton2" value="coffee">
                            <label class="flex-row" for="radio02"><span></span>Response should be a minimum of
                            <div class="fib-input">
                                <input type="text" class="pe-textInput margin-left" id="a" placeholder="500">
                                <span class="pe-input_underline margin-left"></span>
                            </div>
                            and a maximum
                            <div class="fib-input">
                                <input type="text" class="pe-textInput margin-left" id="a" placeholder="1000">
                                <span class="pe-input_underline margin-left"></span>
                            </div>
                            words
                            </label>
                            <span>
                            <svg aria-hidden="true" focusable="false" class="pe-icon--radio-dot">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#new-notification-9"></use>
                            </svg>
                            </span>
                        </div>
                    </fieldset>
                </div>
        
                <div class="group plagiarism-detection">
                    <label for="plagiarism-detection-toggle-01" class="pe-title margin-bottom assignment-creation-input">Plagiarism detection</label>
                    <div class="gravity-toggle toggle-container">
                        <button role="switch" name="plagiarism-detection-toggle-01" value="false" id="plagiarism-detection-toggle-01" class="pe-toggle" aria-invalid="false" aria-labelledby="plagiarism-detection-toggle-01-label" aria-describedby="plagiarism-detection-toggle-01-desc" aria-checked="false">
                            <svg focusable="false" aria-hidden="true">
                                <use xlink:href="#check-sm-18"></use>
                            </svg>
                            <svg focusable="false" aria-hidden="true">
                                <use xlink:href="#remove-sm-18"></use>
                            </svg>
                        </button>
                        <p for="plagiarism-detection-toggle-01" id="plagiarism-detection-toggle-01-desc" class="pe-toggle">When ON a “similarity score” and link to a detailed report will be displayed on student submissions.</p>
                    </div>    
                </div>
        
            </section>
        </div>
        

    </div><!--content-formatter-assignment-creation-->
        
    </div><!--wsl-glp gravity-grid-->
        
        




{{/glpAssignmentDetailsManualUpload}}
