{{#alert}}
<div class="pe-proto alert-box {{#success}}success{{/success}} {{#error}}error{{/error}}" role="alert">
  {{#button}}
  <div class="close-title">{{> pearson-icon }}</div>{{/button}}
  <div class="alert-content-container">
    {{#showIcon}}{{> pearson-single-icon }}{{/showIcon}}
    <div class="alert-content">
      <h2 class="pe-label alert-title"><strong>{{title}}</strong></h2>
      <p class="pe-paragraph alert-text">{{content}}</p>
    </div>
  </div>
</div>
{{/alert}}