<!--DO NOT REMOVE-->
{{{ patternLabFoot }}}
<script>
	if (!document.getElementById('pe-icons-sprite')) {
		var pe_ajax=new XMLHttpRequest();
		pe_ajax.open("GET", "../../images/p-icons-sprite-1.1.svg", true);
		pe_ajax.responseType="document";
		pe_ajax.onload=function(e) {
			document.body.insertBefore(
					pe_ajax.responseXML.documentElement,
					document.body.childNodes[0]
			);
		}
		pe_ajax.send();
	}
</script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-range/2.0.3/moment-range.min.js"></script>

<!-- Load Babel -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<script type="text/babel" src="../../js/iePolyfill.js"></script>
<script type="text/babel" src="../../js/menu.js"></script>
<script type="text/babel" src="../../js/stepper.js"></script>
<script type="text/babel" src="../../js/zoom.js"></script>
<script type="text/babel" src="../../js/toggle.js"></script>
<script type="text/babel" src="../../js/pagination.js"></script>
<script type="text/babel" src="../../js/calendar.js"></script>
<script type="text/babel" src="../../js/datepicker.js"></script>
<script type="text/babel" src="../../js/timepicker.js"></script>
<script type="text/babel" src="../../js/tableSorting.js"></script>
<script type="text/babel" src="../../js/tableSelect.js"></script>
<script type="text/babel" src="../../js/tableControls.js"></script>
<script type="text/babel" src="../../js/tabs.js"></script>
<script type="text/babel" src="../../js/modal.js"></script>
<script type="text/babel" src="../../js/alert.js"></script>
<script type="text/babel" src="../../js/drawer.js"></script>
<script type="text/babel" src="../../js/coachmarks.js"></script>
<script type="text/babel" src="../../js/accordion.js"></script>
<script type="text/babel" src="../../js/redline.js"></script>
<script type="text/babel" src="../../js/iconList.js"></script>

</body>

</html>
